@font-face {
  font-family: GothamBook;
  src: url('/fonts/gotham-book.eot') /* EOT file for IE */
}
@font-face {
  font-family: GothamBook;
  src: url('/fonts/gotham-book.ttf') /* TTF file for CSS3 browsers */
}
@font-face {
  font-family: GothamBold;
  src: url('/fonts/gotham-bold.eot') /* EOT file for IE */
}
@font-face {
  font-family: GothamBold;
  src: url('/fonts/gotham-bold.ttf') /* TTF file for CSS3 browsers */
}

$transition: .45s ease;
$color1: #FF1D00;


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {


}

@media screen and (max-width: 1440px) {
  .section {
    &#section0 {
      .container {
        .row {
          // height: 25vh;
          // &.justify-content-between {
          //   height: 61px;
          // }
          // &.body-1 {
          //   height: calc( 100% - 61px - 25vh );
          // }
          .col-xs-12 {
            margin-left: 0 !important;
            margin-top: 0 !important;
            position: relative;
            .d-flex {
              align-items: flex-end;
              height: 100%;
              justify-content: center !important;
              img {
                
                height: auto;
                width: 60%;
              }
            }
            .moto{
              img{
                max-height: 100px;
                width: auto;
              }
            }
          }
          .actions {
            align-items: center;
            display: flex;
            justify-content: center;
            margin-top: 0;
          }
        }
      }
    }
    &#section1 {
      height: 100vh;
      .carousel {
        height: 100%;
        .carousel-inner {
          height: 100%;
          .carousel-item {
            height: 100%;
            .carousel-caption {
              .data {
                .datum {
                  p {
                  }
                }
              }
            }
            img {
              height: 100%;
              object-fit: cover;
              width: 100%;
            }
          }
        }
      }
      .ramiro_one {
        .img {
          img {
          }
        }
      }
    }
    &#section2 {
      .row {
        .col-md-4 {
          .imagen {
            height: 100%;
            div {
              height: 100%;
            }
          }
        }
      }
    }
    &#section4{
        .container-fluid img{
          max-width: 600px;
        }
    }
    
  }
}

@media screen and (max-width: 1366px){

 
  .section{
    #section0 {
      .container {
        .row {
          .col-xs-12 {
            .d-flex {
              img {
                margin-top: 2em;
                max-height: 350px;
              }
            }
          }     
        }
      }
    }          
    &#section5{
      .container{
        .row .col-md-4{
          .preview{
            img{
            &:nth-child(1){
              max-height: 40px;
              width: auto;
              display: block;
              margin-left: auto;
              margin-right: auto;
            }
            &:nth-child(2){
              max-height: 300px;
              width: auto;
              display: block;
              margin-left: auto;
              margin-right: auto;
            }
          }
          }
          .btn-red{
            max-width: 120px;
            font-size: 12px;
          }
        }
        h2{
          margin-bottom: 1em;
        }
      }
    }
  }
  #section5 footer{
    height: auto;
    .container{
      padding: 15px 0;
    }
  }
}


@media screen and (max-width: 1280px) {
  .section {
    &#section4 {
      .container-fluid {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        img {
          height: auto;
          width: 70%;
        }
      }
    }
    &#section5 {
      .container {
        .d-xs-none {
          .col-md-4 {
            img {
              &:nth-child(1) {
                height: auto;
                width: 50%;
              }
              &:nth-child(2) {
                height: auto;
                width: 60%;
              }
            }
            .available {
              img {
                height: 21px !important;
                margin: 0 3px;
                width: auto !important;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  #section0 .container .row .col-md-10{
    .moto{
      max-width: 330px;
    }
  }
}

@media screen and (max-width: 992px) {
  #section0 .container .row .col-md-10{
    display: block;
    width: 100%;
    max-width: 100%;
    flex: none;
    .moto{
      max-width: 313px;
    }
  }
}


@media screen and (max-height: 600px) {
  #section5{
    height: auto !important;
    .fp-tableCell{
      padding-bottom: 0;
      height: auto !important;
    }
    .container{
      padding-top: 2em;
      padding-bottom: 2em;
    }
    footer{
      position: relative;
      height: 50px !important;
    }
  }
  #section0{
    padding-top: 80px;
    .container .row .actions{
      margin-bottom: 2em;
    }
  }
}


@media screen and (max-width: 768px) {
  .section {
    &#section0 {
      height: auto;
      padding-top: 90px;
      .container {
        .row {
          height: 25vh;
          &.justify-content-between {
            height: 61px;
          }
          &.body-1 {
            height: calc( 100% - 61px - 25vh );
          }
          .col-xs-12 {
            margin-left: 0 !important;
            margin-top: 0 !important;
            position: relative;
            .d-flex {
              align-items: flex-end;
              height: 100%;
              
              justify-content: center !important;
              img {
                height: auto;
                width: 70% !important;
                margin-top: 220px;
              }
            }
            .moto {
              display: flex;
              flex-direction: column;
              justify-content: center;
              margin: 0 auto;
              right: 0;
              top: 0;
              width: 90%;
              display: block;
              left: 0;
              max-width: 100%;
              p {
                margin-top: 21px;
                text-align: center;
              }
              img {
                display: block;
                height: auto;
                margin: 0 auto;
                width: auto;
              }
            }
          }
          .actions {
            align-items: center;
            display: flex !important;
            flex-direction: column;
            justify-content: center;
            margin-top: 0;
            a {
              height: 40px;
              width: 80%;
              &:nth-child(2) {
                margin-left: 0;
                margin-top: 21px;
              }
            }
            &.show-desk {
              display: none !important;
            }
          }
        }
      }
    }
    &#section1 {
      height: 100vh;
      .item-data {
        .data {
                justify-content: center;
                width: 100%;
                .datum {
                  align-items: center;
                  width: 90%;
                  p {
                    text-align: center;
                  }
              
              }
        }
        
      }
      .ramiro_one {
        display: none;
      }
      .fp-controlArrow{
        display: block;
        &.fp-next{
          border-width: 20px 0 20px 20px;
          border-color: transparent transparent transparent rgba(255,255,255,0.5);
        }
        &.fp-prev{
          border-width: 20px 20px 20px 0;
          border-color: transparent rgba(255,255,255,0.5) transparent transparent;
        }
      }
      .fp-slidesNav{
        top: inherit;
        bottom: 40px;
        left: 50%!important;
        right: inherit!important;
        transform: translateY(0) translateX(-50%);
        ul{
          li{
            display: inline-block;
            vertical-align: middle;
            margin: 0 4px;
          }
        }
      }
    }
    &#section2 {
      .row {
        .col-md-4 {
          width: 50%;
          height: auto;
          .imagen {
            height: 100%;
            div {
              height: 100%;
            }
          }
        }
      }
    }
    &#section3 {
      align-items: center;
      background: #000000;
      display: flex;
      height: 50vh;
      position: relative;
      padding-bottom: 20px;
      iframe {
        height: 90% !important;
        padding: 28px 0;
      }
      .container {
        bottom: 6px;
        z-index: 99;
        .row {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
    &#section4 {
      height: 50vh;
      .container-fluid {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        img {
          margin-right: 0;
          opacity: 1;
        }
      }
    }
    &#section5 {
      background-size: cover;
      height: 100vh;
      .container {
        background: none;
        padding-bottom: 0;
        padding-top: 0;
        h2 {
          margin-bottom: 21px;
          padding-top: 21px;
        }
        .d-xs-none {
          display: none;
        }
        .d-xl-none {
          display: block;
          height: auto;
          margin-bottom: 80px;
          .slick_rslider {
            height: 100%;
            .slick-list {
              height: 100%;
              .slick-track {
                height: 100%;
              }
            }
            .item {
              .col-10 {
                align-items: center;
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: center;
                img {
                  &:nth-child(1) {
                    height: auto;
                    margin-bottom: 14px;
                    width: 50%;
                  }
                  &:nth-child(2) {
                    height: auto;
                    width: 50%;
                  }
                }
                a {
                  margin: 1em 0 0.4em;
                  background-color: #FF1D00;
                  color: #ffffff;
                  width: 165px;
                }
                .available {
                  align-items: center;
                  display: flex;
                  height: 21px;
                  justify-content: center;
                  margin-top: 7px;
                  p {
                    color: #ffffff;
                    font-size: 10px;
                    margin-bottom: 0;
                    margin-right: 7px;
                  }
                  img {
                    height: 21px !important;
                    margin: 0 3px;
                    width: auto !important;
                  }
                  a {
                    background-color: transparent;
                    margin: 0;
                    width: initial;
                  }
                }
              }
            }
            .slick-dots {
              bottom: -50px;
              display: flex;
              left: 50%;
              margin: 0;
              padding: 0;
              right: initial;
              top: initial;
              transform: translateY(0) translateX(-50%);
              position: absolute;
              li {
                margin: 0 4px;
                list-style: none;
                display: inline-block;
                vertical-align: middle;
                &.slick-active {
                  button {
                    background: rgba(255, 255, 255, 1);
                  }
                }
                button {
                  background: rgba(255, 255, 255, .5);
                  border: 0;
                  border-radius: 50%;
                  cursor: pointer;
                  height: 20px;
                  line-height: 0px;
                  font-size: 0px;
                  width: 20px;
                  text-indent: -9999px;
                }
              }
            }
          }
        }
      }
      footer {
        display: none;
      }
    }
  }
  footer {
    background-color: #212121;
    bottom: 0;
    .container {
      padding: 25px 0 25px 0;
      .content {
        align-items: center;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        img {
          height: auto;
          width: auto;
        }
        a {
          color: #ffffff;
          font-size: 12px;
        }
        span {
          font-size: 12px;
        }
      }
    }
  }
  .show-res {
    display: block !important;
  }
}

@media screen and (max-width: 560px) {
  .section {
    &#section2 {
      .row {
        .col-md-4 {
          width: 100%;
        }
      }
    } 
  }     
}

@media screen and (max-width: 414px) {
  .section {
    &#section0 {
      height: 120vh;
    }
    &#section2 {
      .row {
        .col-md-4 {
          .this_ico {
            bottom: 14px;
            height: 21px;
            right: 14px;
            width: 21px;
            span {
              width: 14px;
            }
          }
        }
      }
    }
    #section3 {
      .container {
        .progress {
          bottom: 20px;
        }
      }
    }
    &#section5 {
      height: 110vh;
      .container {
        .d-xl-none {
          height: calc( 100% - 110px );
          .slick_rslider {
            .item {
              .col-10 {
                img {
                  &:nth-child(2) {
                    height: auto;
                    width: 65%;
                  }
                }
              }
            }
          }
        }
      }
      footer {
        display: none;
      }
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .section {
    &#section0 {
      .container {
        .row {
          .col-md-10 {
            .moto {
              margin-top: 77px;
              img {
                height: auto;
                width: 60%;
              }
            }
            .d-flex {
              img {
                height: auto;
                width: 60%;
              }
            }
          }
        }
      }
    }
  }
  #section5 {
    .container {
      padding-top: 0;
      padding-bottom: 0;
      h2 {
        margin-bottom: 1.3em;
        padding-top: 1.5em;
        text-align: center;
      }
    }
  }
}