@font-face {
  font-family: GothamBook;
  src: url('/fonts/gotham-book.eot') /* EOT file for IE */
}
@font-face {
  font-family: GothamBook;
  src: url('/fonts/gotham-book.ttf') /* TTF file for CSS3 browsers */
}
@font-face {
  font-family: GothamBold;
  src: url('/fonts/gotham-bold.eot') /* EOT file for IE */
}
@font-face {
  font-family: GothamBold;
  src: url('/fonts/gotham-bold.ttf') /* TTF file for CSS3 browsers */
}

$transition: .45s ease;
$color1: #FF1D00;

// *,*:after,*:before{
//   outline: 1px dashed lime;
// }

.show-res {
  display: none !important;
}

.show-desk {
  display: block;
}

body {
  font-family: GothamBook;
  line-height: 1.3em;
}

a,
a:hover,
a:focus {
  color: inherit;
  outline: 0;
  text-decoration: none;
}

input,
input:hover,
input:active,
input:focus {
  box-shadow: none !important;
  outline: 0;
}

button,
button:hover,
button:active,
button:focus {
  box-shadow: none !important;
  outline: 0;
}

textarea {
  height: 93px !important;
  resize: none;
}

select,
select:focus {
  outline: 0;
}

.loading {
  background-color: #6ac820;
  bottom: 0;
  left: 0;
  opacity: 1;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999999;
  transition: $transition;
  .load {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    img {}
  }
  &.loaded {
    opacity: 0;
    z-index: -9;
  }
}

.background {
  background-size: cover;
  background: url('/img/landing-g6/fondo-portada.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.img-fluid {
  width: 140px;
  height: auto;
}

.section{
  position: relative;
}

.header{
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  z-index: 20;
}

.person-1{
  &.bg-1{
    background-image: url('/img/landing-g6/ramiro-1.1.png');
  }
  &.bg-2{
    background-image: url('/img/landing-g6/ramiro-1.2.png');
  }
}

.person-2{
  &.bg-1{
    background-image: url('/img/landing-g6/alicia-1.1.png');
  }
  &.bg-2{
    background-image: url('/img/landing-g6/alicia-1.2.png');
  }
}

.person-3{
  &.bg-1{
    background-image: url('/img/landing-g6/entes-1.1.png');
  }
  &.bg-2{
    background-image: url('/img/landing-g6/entes-1.2.png');
  }
}

#section0 {
  .d-flex{
    img{
      max-height: 550px;
      height: auto;
      margin-top: 5em;
      margin-bottom: 2em;
    }
  }
}
#section1 {
  background-color: #000;
  .item-data {
    align-items: center;
    bottom: 0;
    display: flex !important;
    justify-content: flex-end;
    left: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    .data {
      align-items: center;
      display: flex;
      justify-content: flex-start;
      position: relative;
      width: 50%;
      z-index: 9999;
      .datum {
        align-items: flex-start;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 45%;
        .imgemb {
          align-items: center;
          display: flex;
          justify-content: center;
          margin-bottom: 14px;
          img {
            height: auto;
            width: 90%;
          }
        }
        .titulo {
          font-family: GothamBold;
          font-size: 30px;
          margin-bottom: 21px;
        }
        p {
          font-size: 24px;
          line-height: 26px;
          margin-bottom: 41px;
          text-align: left;
        }
        a {
          align-items: center;
          background: transparent;
          border: 2px solid white;
          color: white;
          display: flex;
          font-size: 16px;
          height: 56px;
          justify-content: center;
          letter-spacing: 1px;
          text-decoration: none;
          text-transform: uppercase;
          width: 232px;
          &:hover {
            background: white;
            color: $color1;
          }
        }
      }
    }
  }
  .fp-controlArrow{
    display: none;
  }
  .fp-slidesNav{
    top:50%;
    transform: translateY(-50%);
    right:90px;
    left: inherit!important;
    ul{
      li{
        margin: 20px 0;
        display: block;
        height: 20px;
        width: 20px;
        a{
          height: 20px;
          width: 20px;
          span{
            height: 20px;
            width: 20px;
            background: rgba(255,255,255,0.5);
            top:0;
            left:0;
            margin:0;
          }
          &.active{
            span{
              margin:0;
              background: #fff;
            }
          }
        }
      }
    }
  }

    .item-data {
      height: 100%;
      position: relative;
      background-color: rgba(0,0,0,.3);
      img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
      
    }
    .ramiro_one {
      bottom: -1%;
      height: 65%;
      left: 5%;
      opacity: 1;
      position: absolute;
      width: 45%;
      z-index: 999;
      transition: $transition;
      transition-delay: .5s;
      .img {
        height: 100%;
        position: absolute;
        width: 100%;
        img {
          height: 100%;
          width: auto;
        }
      }
    }  
    .slick-dots {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      right: 10%;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      li {
        margin: 4px 0;
        list-style: none;
        &.slick-active {
          button {
            background: rgba(255, 255, 255, 1);
          }
        }
        button {
          background: rgba(255, 255, 255, .5);
          border: 0;
          border-radius: 50%;
          cursor: pointer;
          height: 20px;
          line-height: 0px;
          font-size: 0px;
          width: 20px;
          text-indent: -9999px;
        }
      }
    }

  .child-slide .fp-slidesContainer {
      width: 100% !important;
      position: relative;
  }
  .slide {
      position: absolute;
      opacity: 0 !important;
      transition: 1s ease-in-out;
      background-size:cover;
      background-position: center;
  }
  .slide.active {
      opacity: 1 !important;
  }
}
#section2 {
  height: 100vh;
  background-color: #000;
  .row {
    .col-md-4 {
      height: 50vh;
      position: relative;
      overflow: hidden;
      .imagen-item{
        .imagen {
          position: relative;
          z-index: 5;
          img {
            height: 100%;
            object-fit: cover;
            width: 100%;
            &:last-child{
              display: none;
            }
          }
          
        }
        &:hover{
          .imagen{
            img{
              &:first-child{
                display: none;
              }
              &:last-child{
                display: block;
              }
            }
          }
        }
        .hover {
          align-items: center;
          background-color: rgba(0,0,0,.75);
          bottom: 0;
          display: flex;
          left: 0;
          justify-content: center;
          opacity: 0;
          position: absolute;
          right: 0;
          top: 0;
          z-index: -9;
          transition: $transition;
          p {
            color: white;
            font-size: 18px;
            text-align: center;
          }
        }
        .this_ico {
          border: 2px solid white;
          border-radius: 50%;
          bottom: 21px;
          height: 35px;
          position: absolute;
          right: 21px;
          width: 35px;
          z-index: 20;
          span {
            background-color: white;
            height: 2px;
            opacity: 1;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            width: 21px;
            transition: $transition;
            &:nth-child(1) {
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              margin: auto;
              transform: rotate(90deg);
            }
          }
          
        }
        .show_hover {
          bottom: 0;
          cursor: pointer;
          left: 0;
          position: absolute;
          right: 0;
          top: 0;
          z-index: 10;
        }
        &.active {
          .hover{
            opacity: 1;
            z-index: 10;
          }
          .this_ico{
            span {
              &:nth-child(1) {
                opacity: 0;
                transform: rotate(0deg);
              }
            }
          }
          .imagen{
            img{
              &:first-child{
                display: none;
              }
              &:last-child{
                display: block;
              }
            }
          }
        }
      }

    }
  }
}

#section3{
  position: relative;
  text-align: center;
  background-color: #000;
  .fp-tableCell {
    height: 100% !important;
  }
  .progress{
    background-color: #000;
    border: 1px solid #f00;
  }
  .progress-bar{
    background-color: #f00;
  }
  .row{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    z-index: 999;
    color: #fff;
  }
  .container{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    .progress {
      bottom: 40px;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }
  iframe {
    height: 80%;
  }
}

#section4{
  background: url('/img/landing-g6/slide4.5.png');
  background-color: #000;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  .container-fluid {
    img {
      margin-right: 90px;
      opacity: 0;
      transition: $transition;
      transition-delay: .8s;
    }
  }
  &.active {
    .container-fluid {
      img {
        margin-right: 0;
        opacity: 1;
      }
    }
  }
}


#fullpage .contend {
  background-size: cover;
  background-image: url('/img/landing-g6/slide4.5.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  filter: brightness(0.6);
}

.sinpadding [class*="col-"] {
  padding: 0;
}

.background-all {
  height: 100vh;
}

.father img {
  background-size: 100% 100%;
}

.background-footer {
  background-size: cover;
  background-color: black;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

.btn-red-port {
  width: 370px !important;
  height: 56px;
  padding: 1rem !important;
  background-color: #ff1d00;
  color: white;
  border-radius: 0 !important;
}

.btn-red-port-trans {
  width: 370px !important;
  padding: 1rem !important;
  height: 56px;
  border-color: #ff1d00;
  border-radius: 0 !important;
}

.imagen {
  width: 300px;
}

.redes {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  a {
    color: #386700;
    background-color: #fff;
    border-radius: 50%;
    height: 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 7px;
    width: 30px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.imge {
  height: 100vh;
  width: 100%;
}

.redes a i {
  font-size: 18px;
}

.fa {
  display: inline-block !important;
  font: normal normal normal 14px/1 FontAwesome !important;
  font-size: inherit !important;
  text-rendering: auto !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

.img-phone-g6-play-plus-head {
  width: 232px;
  height: 78px;
}

.img-phone-g6-head {
  width: 231px;
  height: 78px;
}

.img-phone-g6-body {
  width: 269px;
  height: 564px;
}

#section0 {
  background-color: #000;
  .container {
    .row {
      .col-md-10 {
        .moto {
          margin-top: 30px;
          position: absolute;
          right: 0;
          top: 0;
          width: 399px;
          p {
            margin-top: 25px;
            color: #fff;
          }
        }
      }
    }
    .row {
      .actions {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        width: 100%;
        &.show-res {
          display: none !important;
        }
        .btn-red {
          outline: none;
          text-transform: uppercase;
          background-color: $color1;
          color: #ffffff;
          height: 56px;
          line-height: 40px;
          width: 370px;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          border: 2px solid $color1;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          padding: 10px 0;
          text-transform: uppercase;
          transition: 0.45s ease;
          &:hover {
            background-color: #ffffff;
            color: $color1;
            border: none;
          }
          &:hover, &:active, &:focus {
            outline: none;
          }
          &:nth-child(2) {
            background-color: transparent;
            color: $color1;
            margin-left: 25px;
            &:hover {
              background-color: $color1;
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}

#section5 {
  background-image: url('/img/landing-g6/fondo-slide5.png') !important;
  background-size: cover;
  background-color: #000;
  background-position: center center;
  background-repeat: no-repeat;
  .fp-tableCell{
    padding-bottom: 70px;
    vertical-align: top;
  }
  .container {
    padding-top: 2em;
    padding-bottom: 1em;
    h2 {
      font-size: 28px;
      text-align: center;
      color: #ffffff;
      margin-bottom: 2em;
    }
    .row {
      text-align: center;
      .col-md-4 {
        padding: 0 50px;
        text-align: center;
        img {
          &:nth-child(1) {
            height: 60px;
            width: 190px;
          }
          &:nth-child(2) {
            margin-top: 1em;
            height: 420px;
            width: 190px;
          }
        }
        .btn-red {
          border: 2px solid $color1;
          margin: 1em 0 0.4em;
          background-color: $color1;
          color: #ffffff;
          width: 165px;
          &:nth-child(1) {
            margin: 0.5em 0;
          }
          &:hover {
            background-color: transparent;
            color: $color1;
          }
        }
        .available {
          height: 20px;
          display: flex;
          justify-content: center;
          p {
            color: #ffffff;
            margin: 0;
            padding: 3px;
            font-size: 12px;
          }
          img {
            width: auto;
            height: 21px;
            margin: 0 3px;
          }
        }
      }
    }
    .d-xl-none {
      display: none;
    }
  }
  footer {
    position: absolute;
    z-index: 10;
    font-size: 12px;
    width: 100%;
    height: 70px;
    background-color: #212121;
    bottom: 0;
    .container {
      padding: 25px 0 25px 0;
      .content {
        display: flex;
        justify-content: space-around;
        color: #ffffff;
        img {
          height: 100%;
        }
        a{
          color: #ffffff;
        }
      }
    }
  }
}

// #section1{
//   #slide1{
//     .ramiro_one{
//       left: -50%;
//     }
//   }
//   &.fp-completely{
//     #slide1{
//       .ramiro_one{
//         left: 5%;
//       }
//     }
//   }
// }