html, body {
  width: 100%;
  height: 100%;
}

.h1, h1 {color:#ffffff;}
.h1, h1 span {color:#fee600; font-weight:bold; font-size:2.2rem;}
.h2, h2 {color:#ffffff;}
.h2, h2 span {color:#fee600; font-weight:bold; font-size:2.2rem;}
.h5, h5 {color:#ffffff;     margin-top: -10px; margin-bottom:15px;}
.h4, h4 {color:#ffffff; margin-bottom: 0px;}
	p{font-size: 0.9rem;}


header {height:63vh;}

.green-tab {padding-top: 50px; background: url('../../img/mototimeforjoy/footer.png') center top no-repeat; height:37vh;}
.green-tab p{ width:90%; color:#ffffff; margin: 0% 5%;}

.green-bg{background:#00ab3d;}


.logo{margin-top:20px; text-align:left; width:100%;}

footer{background: #015b24;
    padding: 5px 10px;
    position: fixed;
    bottom: 0px;
    width: 100%;}


#countdown{
	width: 465px;
	height: 112px;
	text-align: center;

	margin: auto;
	padding:0px;
	position: relative;
  top: 0; bottom: 0; left: 0; right: 0;
}

#countdown:before{
	content:"";
	width: 8px;
	height: 65px;
	display: block;
	position: absolute;
	top: 48px; left: -10px;
}

#countdown:after{
	content:"";
	width: 8px;
	height: 65px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	display: block;
	position: absolute;
	top: 48px; right: -10px;
}

#countdown #tiles{
	position: relative;
	z-index: 1;
}

#countdown #tiles > span{
	font: bold 48px 'Droid Sans', Arial, sans-serif;
	text-align: center;
	color: #ffffff;
	margin: 0 7px;
	padding: 18px 0;
	display: inline-block;
	position: relative;
}

#countdown #tiles > span:before{
	content:"";
	width: 100%;
	display: block;
	padding: 0 3px;
	position: absolute;
	top: 41%; left: -3px;
	z-index: -1;
}

#countdown #tiles > span:after{
	content:"";
	width: 100%;
	display: block;
	position: absolute;
	top: 48%; left: 0;
}

#countdown .labels{
	width: 100%;
	height: 25px;
	text-align: center;
	position: absolute;
	bottom: 8px;
}

#countdown .labels li{
	width: 102px;
	font: bold 15px 'Droid Sans', Arial, sans-serif;
	color: #f47321;
	text-shadow: 1px 1px 0px #000;
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
}




.bg-time { background: url(../../img/mototimeforjoy/time.png);
    width: 68px; padding: 10px;
    margin: auto !important;
    float: left;
    position: relative;
    height: 70px;}



.bg-img {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('../../img/mototimeforjoy/bg_moto.png') center center no-repeat;
  background-size: cover;

  &:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right,#dc1229,#dc4225);
	opacity: .6;
  }
}


body {


  /* Pick a solid background color that will be displayed while the background image is loading */
      background: -moz-radial-gradient(center, ellipse cover, rgba(206,18,39,1) 0%, rgba(108,2,20,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(206,18,39,1)), color-stop(100%, rgba(108,2,20,1))); /* safari4+,chrome */
    background:-webkit-radial-gradient(center, ellipse cover, rgba(206,18,39,1) 0%, rgba(108,2,20,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(206,18,39,1) 0%, rgba(108,2,20,1) 100%); /* opera 11.10+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(206,18,39,1) 0%, rgba(108,2,20,1) 100%); /* ie10+ */
    background:radial-gradient(ellipse at center, rgba(206,18,39,1) 0%, rgba(108,2,20,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce1227', endColorstr='#6c0214',GradientType=1 ); /* ie6-9 */

  /* SHORTHAND CSS NOTATION
   * background: url(background-photo.jpg) center center cover no-repeat fixed;
   */
}

/* For mobile devices */
@media only screen and (max-width: 767px) {



  .bg-time { background: url(../../img/mototimeforjoy/time-1.png);
    width: 48px;
    height: 50px; padding:8px;}

	#countdown #tiles > span {font-size:33px; }

.green-tab {
  height: auto !important;}

  .content p {width:90% !important;     margin-bottom: 20px;}

  .column-none {display:none;}

  footer {position:inherit !important;}

  .logo {text-align:center; margin-top: 40px;
    text-align: left;
    margin-bottom: 40px;}

    #countdown {width: 318px  !important; margin:0 auto !important;}

	.green-tab p {width:100%;}


  body {
    /* The file size of this background image is 93% smaller
     * to improve page load speed on mobile internet connections */
    background-image: url(../../img/mototimeforjoy/bg_moto.png);

	/* Image is centered vertically and horizontally at all times */
  background-position: center left;

	 /* Pick a solid background color that will be displayed while the background image is loading */
      background: -moz-radial-gradient(center, ellipse cover, rgba(206,18,39,1) 0%, rgba(108,2,20,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(206,18,39,1)), color-stop(100%, rgba(108,2,20,1))); /* safari4+,chrome */
    background:-webkit-radial-gradient(center, ellipse cover, rgba(206,18,39,1) 0%, rgba(108,2,20,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(206,18,39,1) 0%, rgba(108,2,20,1) 100%); /* opera 11.10+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(206,18,39,1) 0%, rgba(108,2,20,1) 100%); /* ie10+ */
    background:radial-gradient(ellipse at center, rgba(206,18,39,1) 0%, rgba(108,2,20,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce1227', endColorstr='#6c0214',GradientType=1 ); /* ie6-9 */

  /* SHORTHAND CSS NOTATION
   * background: url(background-photo.jpg) center center cover no-repeat fixed;
   */


  }
	}
