$transition: .45s ease;

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
	.wrapper {
		.container {
			.row {
				.col-xs-12 {
					.land_logo {
						img {
							height: auto;
							width: 100%;
						}
					}
					.img {
						img {
							height: 100%;
						    object-fit: cover;
						    width: 100%;
						}
					}
				}
			}
		}
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) { 

}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) { 

}

@media screen and (max-width: 768px) {
	.wrapper {
		.container {
			.row {
				.col-xs-12 {
					.login {
						justify-content: center;
					}
					.land_logo {
						img {
							display: block;
							margin: 0 auto 0 auto;
						}
					}
					.the_content {
						margin: 0 auto 41px auto;
						p {
							width: 100%;
						}
						ul {
							li {
								p {
									width: calc(100% - 48px - 14px);
								}
							}
						}
					}
				}
			}
		}
	}

	footer {
		.container {
			.row {
				.col-xs-12 {
					span {
						height: 40px;
						justify-content: center;
					}
					.powered {
						flex-direction: column;
						height: auto;
						justify-content: center;
						padding: 14px 0;
						span {
							height: auto;
						}
						&.mod {
							a {
								display: inline-block;
								&:nth-child(1) {
									border-right: 0;
									margin-bottom: 14px;
									margin-right: 0;
									padding-right: 0;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 414px) {
	body {
		background: #6ac820;
	}

	header {
		.container {
			.row {
				.col-xs-12 {
					.logo,
					nav {
						justify-content: center;
					}
				}
			}
		}
	}

	.wrapper {
		.container {
			.row {
				.col-xs-12 {
					.login {
						justify-content: center;
					}
					.land_logo {
						img {
							height: auto;
							width: 100%;
						}
					}
					.the_content {
						margin-bottom: 0;
						width: 100%;
						p {
							text-align: center;
							width: 100%;
						}
						ul {
							padding-top: 14px;
							li {
								text-align: center;
								strong {
									float: none;
									margin: 0 auto 14px auto;
								}
								p {
									width: 100%;
								}
							}
						}
						&.disc {
							strong {
								text-align: center;
							}
							p {
								text-align: center;
								width: 100%;
								a {
									margin: 0 auto;
									&:nth-child(1) {
										margin-bottom: 14px;
										margin-right: 0;
									}
								}
							}
						}
					}
					.emb_slider {
						width: 100%;
						.embajadores {
							width: 100%;
							.item {
								align-items: center;
								border-radius: 14px;
								flex-direction: column;
								height: auto;
								padding: 14px;
								.avatar {
									height: 114px;
									margin-bottom: 14px;
									margin-right: 0;
									width: 114px;
									.img {
										height: 100%;
										width: 100%;
										img {
											border-radius: 50%;
											height: 100%;
											object-fit: cover;
											width: 100%;
										}
									}
								}
								.content {
									align-items: center;
									display: flex;
									flex-direction: column;
									p {
										text-align: center;
									}
									strong {
										text-align: center;
									}
								}
							}
						}
					}
					.form {
						margin-top: 42px;
						width: 100%;
						.header {
							h2,
							h3 {
								text-align: center;
							}
							p {
								text-align: center;
							}
							&::after {
								left: 50%;
								transform: translateX(-50%) rotate(45deg);
							}
						}
						form {
							margin: 0 auto;
							width: 90%;
							.col1,
							.col2,
							.col3{
								flex-direction: column;
								margin-bottom: 0;
							}
							.col1,
							.col2 {
								.input-group {
									margin-bottom: 14px;
									width: 100%;
								}
							}
							.col3 {
								.input-group {
									flex-direction: column;
									select {
										margin-bottom: 14px;
										width: 100% !important;
									}
									.combodate {
										select {
											margin-bottom: 0;
										}
									}
								}
							}
						}
					}
					.img {
						&.specs,
						&.disc {
							margin-top: 35px;
							img {
								height: auto;
								width: 100%;
							}
						}
					}
				}
			}
		}
	}

	footer {
		.container {
			.row {
				.col-xs-12 {
					.powered {
						span {
							text-align: center;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 320px) {

}