@font-face {
	font-family: GothamBook;
	src: url('/fonts/gotham-book.eot') /* EOT file for IE */
}
@font-face {
	font-family: GothamBook;
	src: url('/fonts/gotham-book.ttf') /* TTF file for CSS3 browsers */
}
@font-face {
	font-family: GothamBold;
	src: url('/fonts/gotham-bold.eot') /* EOT file for IE */
}
@font-face {
	font-family: GothamBold;
	src: url('/fonts/gotham-bold.ttf') /* TTF file for CSS3 browsers */
}

$transition: .45s ease;

body {
	background-color: #000;
}

a,
a:hover,
a:focus {
  color: inherit;
  outline: 0;
  text-decoration: none;
}

input,
input:hover,
input:active,
input:focus {
  box-shadow: none !important;
  outline: 0;
}

button,
button:hover,
button:active,
button:focus {
  box-shadow: none !important;
  outline: 0;
}

textarea {
	height: 93px !important;
	resize: none;
}

select,
select:focus {
  outline: 0;
}

body{
	background: #6ac820 url("/img/landings/motogift/bkg.jpg");
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: GothamBook;
	.wrapper {
		min-height: calc(100vh - 120px);
	}
}

.loading {
	background-color: #6ac820;
	bottom: 0;
	left: 0;
	opacity: 1;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 9999999;
	transition: $transition;
	.load {
		align-items: center;
		display: flex;
		height: 100vh;
		justify-content: center;
		img {}
	}
	&.loaded {
		opacity: 0;
		z-index: -9;
	}
}

header {
	.container {
		.row {
			.col-xs-12 {
				.logo {
					align-items: center;
					display: flex;
					height: 60px;
					justify-content: flex-start;
					h1 {
						margin: 0;
						padding: 0;
						a {
							background: url("/img/landings/motogift/m_logo.svg");
							background-repeat: no-repeat;
							background-position: center center;
							display: inline-block;
							height: 40px;
							text-indent: -9999px;
							width: 173px;
						}
					}
				}
				nav {
					align-items: center;
					display: flex;
					height: 60px;
					justify-content: flex-end;
					a {
						display: block;
						margin-left: 10px;
						&:nth-child(1) {
							margin-left: 0;
						}
						i {
							color: white;
							font-size: 24px;
						}
					}
				}
			}
		}
	}
}

.wrapper {
	margin-bottom: 70px;
	.container {
		.row {
			.col-xs-12 {
				.login {
					display: flex;
					justify-content: flex-end;
					margin-bottom: 28px;
					min-height: 34px;
					button {
						background-color: #F6310F;
						border: 2px solid #F6310F;
						color: white;
						font-family: GothamBook;
						height: 34px;;
						text-align: center;
						text-transform: uppercase;
						width: 150px;
						transition: $transition;
						&:hover {
							background-color: transparent;
							border: 2px solid white;
						}
					}
				}
				.land_logo {
					margin-bottom: 28px;
					img {
						height: auto;
						width: 100%;
					}
				}
				.the_content {
					margin-bottom: 41px;
					width: 100%;
					p {
						color: white;
						font-size: 16px;
						margin-bottom: 14px;
						width: 80%;
						a {
							color: #FFE500;
							font-size: 18px;
							position: relative;
							transition: $transition;
							&::after {
								background-color: #FFE500;
								bottom: -4px;
								content: "";
								display: block;
								height: 2px;
								left: 0;
								opacity: 0;
								position: absolute;
								width: 100%;
								transition: $transition;
							}
							&:hover {
								&::after {
									opacity: 1;
								}
							}
						}
						span {
							&.amarillo {
								color: #FFE500;
							}
						}
					}
					ul {
						margin: 0;
						padding: 0;
						li {
							list-style: none;
							margin-top: 21px;
							&:nth-child(1) {
								margin-top: 0;
							}
							&::after {
								clear: both;
								content: "";
								display: block;
							}
							strong {
								align-items: center;
								background-color: #F6310F;
								border-radius: 50%;
								display: flex;
								float: left;
								height: 48px;
								justify-content: center;
								margin-right: 14px;
								width: 48px;
								span {
									color: white;
									font-size: 21px;
								}
							}
							p {
								color: white;
								font-size: 16px;
								overflow: hidden;
								padding-top: 7px;
								a {
									color: #FFE500;
									font-size: 18px;
									position: relative;
									transition: $transition;
									&::after {
										background-color: #FFE500;
										bottom: -4px;
										content: "";
										display: block;
										height: 2px;
										left: 0;
										opacity: 0;
										position: absolute;
										width: 100%;
										transition: $transition;
									}
									&:hover {
										&::after {
											opacity: 1;
										}
									}
								}
								span {
									&.amarillo {
										color: #FFE500;
									}
								}
							}
						}
					}
					&.disc {
						width: 100%;
						strong {
							color: #FFE500;
							display: block;
							font-family: GothamBold;
							font-size: 16px;
							margin-bottom: 14px;
						}
						p {
							font-size: 14px;
							a {
								&:nth-child(1) {
									margin-right: 14px;
								}
								&.btn-sec {
									background-color: #F6310F;
									border: 2px solid #F6310F;
									color: white;
									display: inline-block;
									font-family: GothamBook;
									font-size: 14px;
									height: 40px;
									min-width: 170px;
									padding: 10px 0;
									text-align: center;
									text-transform: uppercase;
									transition: 0.45s ease;
								}
							}
						}
						ul {
							padding-left: 35px;
							li {
								color: white;
								font-size: 13px;
								list-style: disc;
								margin-top: 14px;
							}
						}
					}
					&.success {
						p {
							a {
								background-color: #F6310F;
								border: 2px solid #F6310F;
								color: white;
								display: inline-block;
								padding: 7px 21px;
								&::after {
									display: none;
								}
								&:nth-child(1) {
									margin-right: 10px;
								}
								&:hover {
									background-color: transparent;
									border: 2px solid white;
								}
							}
						}
					}
				}
				.emb_slider {
					display: flex;
					justify-content: center;
					margin: 0 auto;
					width: calc(444px + 14px + 14px);
					.embajadores {
						width: 444px;
						.item {
							align-items: flex-start;
							background-color: white;
							border-radius: 0 0 30px 0;
							box-shadow: 0 7px 21px rgba(0, 0, 0, 0);
							display: flex;
							height: 190px;
							justify-content: space-between;
							&:nth-child(1) {
								margin-top: 0;
							}
							&.slick-active {
								box-shadow: 0 7px 21px rgba(0, 0, 0, 0);
							}
							.avatar {
								.img {
									img {
										height: 190px;
										width: auto;
									}
								}
							}
							.content {
								color: #4A4A4A;
								padding: 14px 21px;
								strong {
									font-family: GothamBold;
									font-size: 18px;
								}
								p {
									font-size: 16px;
									margin-bottom: 14px;
								}
								a {
									color: #4A4A4A;
									font-size: 14px;
									text-decoration: underline;
								}
							}
						}
						.slick-dots {
							align-items: center;
							display: flex;
							justify-content: center;
							margin-top: 21px;
							padding: 0;
							li {
								list-style: none;
								margin: 0 7px;
								button {
									background-color: white;
									border: 0;
									border-radius: 50%;
									font-size: 0px;
									height: 10px;
									line-height: 0px;
									margin: 0;
									padding: 0;
									text-indent: -99999px;
									width: 10px;
									transition: $transition;
								}
								&.slick-active {
									button {
										background-color: #D0021B;
									}
								}
							}
						}
					}
				}
				.form {
					background-color: #ffffff;
					border-radius: 0 0 30px 0;
					box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
					margin: 0 auto;
					width: 370px;
					.form-header {
						background-color: #F6310F;
						padding: 14px;
						position: relative;
						&::after {
							background: #F6310F;
							bottom: -7px;
							content: "";
							display: block;
							height: 27px;
							left: 21px;
							position: absolute;
							transform: rotate(45deg);
							width: 27px;
						}
						h2 {
							color: white;
							font-size: 18px;
							line-height: 21px;
							margin: 0 0 7px 0;
							padding: 0;
							position: relative;
							z-index: 9;
						}
						h3 {
							color: white;
							font-size: 14px;
							margin: 0;
							position: relative;
							z-index: 9;
						}
					}
					form {
						margin: 0 auto;
						padding: 21px 0 0 0;
						width: 338px;
						.col1 {
							.input-group {
								width: 100%;
								label {
									&.flexme {
										display: flex;
										input {
											margin-top: 2px;
										}
									}
									input {
										margin-left: 4px;
										margin-right: 0;
									}
								}
							}
							&.mod {
								margin: 0 auto 14px auto;
								width: 240px;
								.input-group {
									.acciones {
										strong {
											margin-bottom: 0px;
										}
									}
									&.info {
										.show-info {
											align-items: center;
											bottom: 0;
											cursor: pointer;
											display: flex;
											height: 32px;
											justify-content: center;
											position: absolute;
											right: -32px;
											width: 32px;
											i {
												color: #9b9b9b;
												font-size: 20px;
											}
										}
									}
								}
							}
						}
						.col2 {
							.input-group {
								width: 48%;
							}
						}
						.col3 {
							.input-group {
								select {
									width: 30%;
								}
								.combodate {
									width: 100%;
								}
							}
						}
						.col1,
						.col2 {
							align-items: flex-start;
							display: flex;
							justify-content: space-between;
							margin-bottom: 21px;
							.input-group {
								span {
									display: block;
									margin-bottom: 7px;
								}
								em {
									font-style: normal;
									margin-right: 28px;
								}
								input {
									background-color: transparent;
									border-radius: 0px;
									border: 1px solid #979797;
									font-size: 12px;
									height: 32px;
									padding: 6px 14px;
									width: 100%;
								}
								label {
									font-size: 12px;
									font-weight: normal;
									margin-bottom: 0;
									&:nth-child(2) {
										margin-right: 14px;
									}
									input {
										height: initial;
										margin-right: 7px;
										margin-top: 0;
										width: initial;
									}
									span {
										display: inline-block;
										margin-bottom: 0;
									}
								}
								select {
									background-color: transparent;
									border-radius: 0px;
									border: 1px solid #979797;
									height: 32px;
									font-size: 12px;
									padding: 6px 14px;
									width: 100%;
								}
								.acciones {
									margin: 0 auto;
									width: 240px;
									a,
									button {
										color: #4A4A4A;
										display: block;
										font-size: 10px;
										text-align: center;
										text-decoration: underline;
										width: 100%;
										&.btn {
											align-items: center;
											background-color: #F6310F;
											border: 2px solid #F6310F;
											border-radius: 0px;
											color: white;
											display: flex;
											font-size: 14px;
											height: 34px;
											justify-content: center;
											margin-bottom: 14px;
											text-decoration: none;
											text-transform: uppercase;
											transition: $transition;
											&:hover {
												background-color: transparent;
												color: #F6310F;
											}
										}
									}
									label {
										align-items: center;
										display: flex;
										justify-content: center;
										margin-bottom: 21px;
										input {
											margin-left: 14px;
										}
										.tc {
											a {

											}
										}
									}
									strong {
										color: #4A4A4A;
										display: block;
										font-family: GothamBold;
										font-size: 18px;
										margin-bottom: 28px;
										margin-top: 14px;
										text-align: center;
									}
								}
							}
						}
						.col3 {
							margin-bottom: 21px;
							span {
								display: block;
								margin-bottom: 7px;
							}
							.input-group {
								align-items: flex-start;
								display: flex;
								justify-content: space-between;
								input {
									background-color: transparent;
									border-radius: 0px;
									border: 1px solid #979797;
									font-size: 12px;
									height: 32px;
									padding: 6px 14px;
								}
								select {
									background-color: transparent;
									border-radius: 0px;
									border: 1px solid #979797;
									height: 32px;
									font-size: 12px;
									padding: 6px 14px;
								}
							}
						}
					}
				}
				.img {
					&.specs {
						display: flex;
						justify-content: center;
					}
					&.disc {
						display: flex;
						justify-content: center;
						margin-top: 77px;
					}
				}
			}
		}
	}
}

footer {
	.container {
		.row {
			.col-xs-12 {
				span {
					align-items: center;
					color: white;
					display: flex;
					height: 60px;
				}
				.tyc {
					text-align: center;
					a {
						color: white;
						text-decoration: underline;
					}
				}
				.powered {
					align-items: center;
					display: flex;
					height: 60px;
					justify-content: center;
					span {
						display: inline-block;
						height: initial;
						&:nth-child(2) {
							margin-left: 7px;
						}
						img {
							height: 10px;
							width: 58px;
						}
					}
					&.mod {
						color: white;
						a {
							color: white;
							font-size: 14px;
							line-height: 14px;
							&:nth-child(1) {
								border-right: 1px solid #ffffff;
								margin-right: 7px;
								padding-right: 7px;
							}
						}
					}
				}
			}
		}
	}
}

.tooltip {
	.tooltip-arrow {
		border-right-color: #f2f2f2 !important;
	}
	.tooltip-inner {
		background-color: #f2f2f2;
		max-width: initial;
		img {

		}
	}
}

.show-desk {
	display: block;
}

.show-res {
	display: none;
}