@font-face {
  font-family: GothamBook;
  src: url("/fonts/gotham-book.eot");
}

@font-face {
  font-family: GothamBook;
  src: url("/fonts/gotham-book.ttf");
}

@font-face {
  font-family: GothamBold;
  src: url("/fonts/gotham-bold.eot");
}

@font-face {
  font-family: GothamBold;
  src: url("/fonts/gotham-bold.ttf");
}

a,
a:hover,
a:focus {
  color: inherit;
  outline: 0;
  text-decoration: none;
}

input,
input:hover,
input:active,
input:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: 0;
}

textarea {
  height: 93px !important;
  resize: none;
}

select,
select:focus {
  outline: 0;
}

body {
  background-image: url("/img/landings/dimitrivegas/bag_dimitri.jpg");
  background-color: #334049;
  background-position: top center;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
}

body.cconfirmation {
  background-color: #f4f4f4;
  background-position: bottom center;
  background-size: cover;
}

body.cconfirmation .wrapper .container {
  height: calc(100vh - 89px);
}

/* HEADER */

.wrapper .container {
  margin-bottom: 21px;
}

.wrapper .container .row header {
  height: 80px;
  margin-bottom: 35px;
  padding-top: 35px;
}

.wrapper .container .row header::after {
  clear: both;
  content: "";
  display: block;
}

.wrapper .container .row header .cabecera {
  display: inline-block;
  width: 400px;
  height: 20px;
}

.wrapper .container .row header .moto_logo {
  height: 100%;
}

.wrapper .container .row header .moto_logo .logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.wrapper .container .row header .moto_logo .logo img {
  height: 60px;
  width: 200px;
}

.wrapper .container .row header .moto_logo p {
  color: #000;
  margin-top: 10px;
  padding-left: 15px;
}

.wrapper .container .row header .navc {
  height: 100%;
}

.wrapper .container .row header .navc nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 40px;
}

.wrapper .container .row header .navc nav span {
  color: #000000;
}

.wrapper .container .row header .navc nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 0;
  padding-left: 14px;
}

.wrapper .container .row header .navc nav ul li {
  list-style: none;
  margin: 0 4px;
}

.wrapper .container .row header .navc nav ul li a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000000;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
}

.wrapper .container .row header .navc nav ul li a i {
  color: white;
  font-size: 16px;
}

/* PRIMERA */

.wrapper .container .row {
  position: relative;
}

.wrapper .container .row #primera {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.wrapper .container .row #primera form {
  padding-bottom: 28px;
  width: 460px;
}

.wrapper .container .row #primera form .logoform {
  display: block;
  height: auto;
  margin: 0 auto 0 auto;
  margin-bottom: 14px;
  width: 329px;
}

.wrapper .container .row #primera form .navc {
  height: 100%;
  margin-bottom: 21px;
}

.wrapper .container .row #primera form .navc nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .container .row #primera form .navc nav span {
  color: #000000;
}

.wrapper .container .row #primera form .navc nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0;
  padding-left: 14px;
}

.wrapper .container .row #primera form .navc nav ul li {
  list-style: none;
  margin: 0 4px;
}

.wrapper .container .row #primera form .navc nav ul li a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000000;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
}

.wrapper .container .row #primera form .navc nav ul li a i {
  color: white;
  font-size: 16px;
}

.wrapper .container .row #primera form .header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e56b00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1px 21px;
  border-radius: 10px 10px 0px 0px;
  height: 64px;
  position: relative;
}

.wrapper .container .row #primera form .header::after {
  background-image: url("/img/landings/dimitrivegas/pest.png");
  bottom: -15px;
  content: "";
  display: block;
  height: 15px;
  left: 30px;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 27px;
}

.wrapper .container .row #primera form .header h3 {
  color: white;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.wrapper .container .row #primera form .validacion {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid rgba(0, 0, 0, 0.7);
  background-color: rgba(50, 63, 73, 0.9);
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Roboto', sans-serif;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 21px;
  padding: 7px 14px;
}

.wrapper .container .row #primera form .validacion p {
  color: white;
  font-size: 12px;
  margin-bottom: 0;
}

.wrapper .container .row #primera form .validacion img {
  margin-right: 14px;
}

.wrapper .container .row #primera form .form {
  background-color: #ffffff;
  border-radius: 0 0 10px 10px;
  color: #989898;
  padding: 35px;
}

.wrapper .container .row #primera form .form .form-group {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .container .row #primera form .form .form-group.col2 .input-field {
  width: 48%;
}

.wrapper .container .row #primera form .form .form-group.col3 .input-field {
  width: 30%;
}

.wrapper .container .row #primera form .form .form-group .input-field {
  width: 100%;
}

.wrapper .container .row #primera form .form .form-group .input-field span {
  color: #e66b00;
  font-size: 14px;
  display: block;
  margin-bottom: 7px;
}

.wrapper .container .row #primera form .form .form-group .input-field label {
  color: #b1b1b1;
  font-weight: normal;
}

.wrapper .container .row #primera form .form .form-group .input-field input {
  border-radius: 0;
  padding: 8px 12px;
  width: 100%;
  border-color: #e66b00;
}

.wrapper .container .row #primera form .form .form-group .input-field input[type="radio"] {
  margin-left: 7px;
  padding: 0;
  width: initial;
}

.wrapper .container .row #primera form .form .form-group .input-field select {
  border-radius: 0;
  height: 34px;
  padding: 8px 12px;
  width: 100%;
  border-color: #e66b00;
}

.wrapper .container .row #primera form .form .form-group .input-field .links a {
  display: block;
}

.wrapper .container .row #primera form .form .form-group .input-field a.btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e66b00;
  border: 2px solid #e66b00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 45px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 160px;
  font-size: 18px;
  -webkit-transition: .45s ease;
  transition: .45s ease;
}

.wrapper .container .row #primera form .form .form-group .input-field a.btn:hover {
  background-color: #ffffff;
  color: #e66b00;
}

.wrapper .container .row #primera .confirmation .header h3 {
  text-transform: uppercase;
}

.wrapper .container .row #primera .confirmation .form h3 {
  color: #323f48;
  font-family: GothamBold;
  font-size: 36px;
  margin-top: 0;
}

.wrapper .container .row #primera .confirmation .form h5 {
  color: #323f48;
  font-family: GothamBook;
  font-size: 20px;
  margin-bottom: 28px;
}

.wrapper .container .row #primera .confirmation .form a.btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e66b00;
  border: 2px solid #e66b00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: GothamBold;
  font-size: 18px;
  height: 45px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  width: 260px;
  -webkit-transition: .45s ease;
  transition: .45s ease;
}

.wrapper .container .row #primera .confirmation .form a.btn:hover {
  background-color: #ffffff;
  color: #e66b00;
}

.wrapper .container .row #segunda {
  bottom: 200px;
  position: absolute;
  width: 540px;
}

.wrapper .container .row #segunda h3 {
  color: #fff;
  font-family: GothamBook, sans-serif;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 21px;
}

.wrapper .container .row #segunda p {
  color: #fff;
  font-family: GothamBook, sans-serif;
  font-size: 16px;
  line-height: 22px;
}

/* CONFIRMATION */

.cconfirmation {
  background-image: url("/img/landings/dimitrivegas/bag_dimitri_.jpg");
}

.cconfirmation .wrapper .container {
  height: calc(100vh - 89px);
}

.mb0 {
  margin-bottom: 0 !important;
}

.fs12 {
  font-size: 12px;
}

.show-desk {
  display: block;
}

.show-res {
  display: none;
}

/* FOOTER */

.wrapper .container-fluid footer {
  width: 1080px;
  margin: 0 auto;
}

.wrapper .container-fluid footer::after {
  clear: both;
  content: "";
  display: block;
}

.wrapper .container-fluid footer .hmoto {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
  margin-top: 3px;
  height: 65px;
}

.wrapper .container-fluid footer .hmoto strong {
  color: #ffffff;
  margin-bottom: 0;
  text-align: center;
  font-size: 30px;
  margin-left: 38px;
}

.wrapper .container-fluid footer .hmoto strong span {
  color: #e66b00;
}

.wrapper .container-fluid footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #ffffff;
  margin-top: 21px;
  font-size: 11px;
}

.wrapper .container-fluid footer .copyright img {
  width: 58px;
  height: 10px;
}

.wrapper .container-fluid footer .copyright p:nth-child(1) {
  margin-left: 14px;
}


@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  .cconfirmation {
    background-image: none;
  }

  /* PRIMERA */

  .wrapper .container {
    height: calc(100vh - 89px);
  }

  .wrapper .container .row {
    position: relative;
  }

  .wrapper .container .row #primera .confirmation {
    margin: 0 auto;
    margin-top: 140px;
  }

  .wrapper .container .row #segunda {
    bottom: 133px;
    position: absolute;
    width: 440px;
  }

  /* FOOTER */

  .wrapper .container-fluid footer {
    width: 100%;
    margin: 0 auto;
  }

  .wrapper .container-fluid footer .copyright p:nth-child(1),
  .wrapper .container-fluid footer .copyright p:nth-child(2) {
    margin-right: 14px;
  }
}

@media screen and (min-width: 1600px) {
  .cconfirmation {
    background-size: cover;
  }

  .cconfirmation .wrapper .container {
    height: calc(100vh - 89px);
  }
}

@media screen and (max-width: 900px) {
  body {
    background-image: url("/img/landings/dimitrivegas/bag_dimitri.jpg");
    background-color: #334049;
    background-position: top center;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
  }

  /* HEADER */

  .wrapper .container {
    margin-bottom: 21px;
  }

  .wrapper .container .row header {
    height: 80px;
    margin-bottom: 35px;
    padding-top: 35px;
  }

  .wrapper .container .row header .cabecera {
    display: inline-block;
    width: 400px;
    height: 20px;
  }

  .wrapper .container .row header .moto_logo {
    height: 100%;
  }

  .wrapper .container .row header .moto_logo .logo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }

  .wrapper .container .row header .moto_logo .logo img {
    height: 60px;
    width: 200px;
  }

  .wrapper .container .row header .moto_logo p {
    color: #000;
    margin-top: 10px;
    padding-left: 15px;
  }

  .wrapper .container .row header .navc {
    height: 100%;
  }

  .wrapper .container .row header .navc nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 40px;
  }

  .wrapper .container .row header .navc nav span {
    color: #000000;
  }

  .wrapper .container .row header .navc nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-bottom: 0;
    padding-left: 14px;
  }

  .wrapper .container .row header .navc nav ul li {
    list-style: none;
    margin: 0 4px;
  }

  .wrapper .container .row header .navc nav ul li a {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #000000;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 24px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 24px;
  }

  .wrapper .container .row header .navc nav ul li a i {
    color: white;
    font-size: 16px;
  }

  /* PRIMERA */

  .wrapper .container .row {
    position: relative;
  }

  .wrapper .container .row #primera {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .wrapper .container .row #primera form {
    padding-bottom: 28px;
    margin: 0 auto;
    width: 460px;
  }

  .wrapper .container .row #primera form .header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #e56b00;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1px 21px;
    border-radius: 10px 10px 0px 0px;
    height: 64px;
    position: relative;
  }

  .wrapper .container .row #primera form .header::after {
    background-image: url("/img/landings/dimitrivegas/pest.png");
    bottom: -15px;
    content: "";
    display: block;
    height: 15px;
    left: 30px;
    position: absolute;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 27px;
  }

  .wrapper .container .row #primera form .header h3 {
    color: white;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
  }

  .wrapper .container .row #primera form .validacion {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.7);
    background-color: rgba(50, 63, 73, 0.9);
    border-radius: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Roboto', sans-serif;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 21px;
    padding: 7px 14px;
  }

  .wrapper .container .row #primera form .validacion p {
    color: white;
    font-size: 12px;
    margin-bottom: 0;
  }

  .wrapper .container .row #primera form .validacion img {
    margin-right: 14px;
  }

  .wrapper .container .row #primera form .form {
    background-color: #ffffff;
    border-radius: 0 0 10px 10px;
    color: #989898;
    padding: 35px;
  }

  .wrapper .container .row #primera form .form .form-group {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .wrapper .container .row #primera form .form .form-group.col2 .input-field {
    width: 48%;
  }

  .wrapper .container .row #primera form .form .form-group.col3 .input-field {
    width: 30%;
  }

  .wrapper .container .row #primera form .form .form-group .input-field {
    width: 100%;
  }

  .wrapper .container .row #primera form .form .form-group .input-field span {
    color: #e66b00;
    font-size: 14px;
    display: block;
    margin-bottom: 7px;
  }

  .wrapper .container .row #primera form .form .form-group .input-field label {
    color: #b1b1b1;
    font-weight: normal;
  }

  .wrapper .container .row #primera form .form .form-group .input-field input {
    border-radius: 0;
    padding: 8px 12px;
    width: 100%;
    border-color: #e66b00;
  }

  .wrapper .container .row #primera form .form .form-group .input-field input[type="radio"] {
    margin-left: 7px;
    padding: 0;
    width: initial;
  }

  .wrapper .container .row #primera form .form .form-group .input-field select {
    border-radius: 0;
    height: 34px;
    padding: 8px 12px;
    width: 100%;
    border-color: #e66b00;
  }

  .wrapper .container .row #primera form .form .form-group .input-field .links a {
    display: block;
  }

  .wrapper .container .row #primera form .form .form-group .input-field a.btn {
    background-color: #e66b00;
    border-color: #e66b00;
    margin-left: auto;
    margin-right: auto;
    height: 45px;
    width: 160px;
    font-size: 18px;
    -webkit-transition: .45s ease;
    transition: .45s ease;
  }

  .wrapper .container .row #segunda {
    bottom: initial;
    margin: 0 auto;
    position: relative;
    width: 460px;
  }

  .wrapper .container .row #segunda h3 {
    text-align: center;
  }

  .wrapper .container .row #segunda p {
    text-align: center;
  }

  /* FOOTER */

  .wrapper .container-fluid footer {
    width: 100%;
    margin: 0 auto;
  }

  .wrapper .container-fluid footer .copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  body {
    background-position: top right;
  }

  body.cconfirmation {
    background-color: #f4f4f4;
    background-position: top right;
  }

  /* PRIMERA */

  .wrapper .container {
    height: calc(100vh - 89px);
  }

  .wrapper .container .row {
    position: relative;
  }

  .wrapper .container .row #primera .confirmation {
    margin-top: 140px;
  }

  /* FOOTER */

  .wrapper .container-fluid footer {
    padding: 14px 0;
  }

  .wrapper .container-fluid footer .hmoto {
    height: initial;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 14px;
    margin-top: 0;
  }

  .wrapper .container-fluid footer .hmoto strong {
    margin-left: 0;
  }

  .wrapper .container-fluid footer .hmoto {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .wrapper .container-fluid footer .hmoto strong {
    margin-left: 0;
  }

  .wrapper .container-fluid footer .copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: initial;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0;
  }

  .wrapper .container-fluid footer .copyright p:nth-child(1) {
    margin-left: 0;
  }

  .show-desk {
    display: none;
  }

  .show-res {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  /* HEADER */

  .wrapper .container {
    margin-bottom: 21px;
  }

  .wrapper .container .row header {
    height: initial;
    margin-bottom: 14px;
    padding-top: 14px;
  }

  .wrapper .container .row header .moto_logo {
    height: 100%;
  }

  .wrapper .container .row header .moto_logo .logo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0;
  }

  .wrapper .container .row header .moto_logo .logo img {
    height: 60px;
    width: 200px;
    margin-bottom: 0;
    margin-left: 0;
  }

  .wrapper .container .row header .navc {
    height: 100%;
    margin-bottom: 21px;
  }

  .wrapper .container .row header .navc nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 0;
  }

  .wrapper .container .row img {
    display: block;
    margin: 0 auto 0 auto;
    margin-bottom: 14px;
  }
}

@media screen and (max-width: 414px) {
  /* PRIMERA */

  .wrapper .container .row #primera form {
    margin: 0 auto;
    width: 90%;
  }

  .wrapper .container .row #primera form .logoform {
    display: block;
    height: auto;
    margin: 0 auto 0 auto;
    margin-bottom: 14px;
    width: 90%;
  }

  .wrapper .container .row #primera form .validacion {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .wrapper .container .row #primera form .validacion p {
    color: white;
    font-size: 12px;
    margin-bottom: 0;
  }

  .wrapper .container .row #primera form .validacion img {
    display: initial;
    margin: initial;
    margin-bottom: 7px;
    margin-right: 0;
  }

  .wrapper .container .row #primera form .form .form-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .wrapper .container .row #primera form .form .form-group.col2 .input-field {
    width: 100%;
  }

  .wrapper .container .row #primera form .form .form-group.col2 .input-field:nth-child(2) {
    margin-top: 14px;
  }

  .wrapper .container .row #primera form .form .form-group.col2.gender {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .wrapper .container .row #primera form .form .form-group.col2.gender .input-field {
    width: 48%;
  }

  .wrapper .container .row #primera form .form .form-group.col2.gender .input-field:nth-child(2) {
    margin-top: 0;
  }

  .wrapper .container .row #primera form .form .form-group.col3 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .wrapper .container .row #primera form .form .form-group .input-field .links a {
    display: block;
  }

  .wrapper .container .row #primera form .form .form-group .input-field a.btn {
    display: block;
    margin: 0 auto;
    margin-top: 14px;
    width: 160px;
  }

  .wrapper .container .row #primera .confirmation {
    margin-top: 0;
  }

  .wrapper .container .row #primera .confirmation .header {
    height: 54px;
  }

  .wrapper .container .row #primera .confirmation .header h3 {
    font-size: 22px;
    text-transform: uppercase;
  }

  .wrapper .container .row #primera .confirmation .form h3 {
    color: #323f48;
    font-family: GothamBold;
    font-size: 36px;
    margin-top: 0;
    text-align: center;
  }

  .wrapper .container .row #primera .confirmation .form h5 {
    color: #323f48;
    font-family: GothamBook;
    font-size: 16px;
    margin-bottom: 28px;
    text-align: center;
  }

  .wrapper .container .row #primera .confirmation .form a.btn {
    font-size: 16px;
    width: 100%;
  }

  .wrapper .container .row #segunda {
    margin: 0 auto;
    width: 90%;
  }
}

@media screen and (max-width: 320px) {
  /* HEADER */

  .wrapper .container {
    margin-bottom: 21px;
  }

  .wrapper .container .row img {
    width: 90%;
  }

  /* PRIMERA */

  .wrapper .container .row #primera form .validacion img {
    width: initial;
  }

  .wrapper .container .row #primera form .form {
    padding: 21px;
  }

  .wrapper .container .row #segunda {
    margin: 0 auto;
    width: 90%;
  }
}

