$transition: .45s ease;

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) { 

}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) { 

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 768px) {
  header {
    margin-bottom: 21px;
    .container {
      .row {
        .col-xs-12 {
          .header {
            .logo {
              height: 52px;
            }
            h2 {
              font-size: 18px;
            }
          }
        }
      }
    }
  }

  .wrapper {
    height: auto;
    margin: 0 auto;
    width: 100%;
    &.mod {
      height: auto;
      .container {
        .row {
          padding-bottom: 42px;
        }
      }
    }
    &.modd {
      .container {
        .row {
          padding-bottom: 49px;
        }
      }
    }
    .container {
      .row {
        .col-xs-12 {
          .img {
            display: none;
          }
          .form {
            form {
              width: 100%;
              .col2 {
                flex-direction: column;
                .input-group {
                  width: 100%;
                  &:nth-child(1) {
                    margin-bottom: 14px;
                  }
                }
              }
            }
            .content {
              width: 90%;
            }
          }
          .titulo {
            h3 {
              display: block;
              margin: 0;
              text-align: center;
              width: 100%;
            }
            &.mod {
              margin: 0 0 28px 0;
            }
          }
          .title {
            align-items: center;
            flex-direction: column;
            margin: 21px 35px 42px 35px;
            h2 {
              margin-bottom: 14px;
            }
          }
          .items {
            margin: 0 auto;
            width: 80%;
            .item {
              .datum {
                flex-direction: column;
                .data {
                  margin-top: 14px;
                  width: 100%;
                  &:nth-child(1) {
                    margin-top: 0;
                  }
                  &:nth-child(4) {
                    justify-content: center;
                    margin-top: 28px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {

}