@font-face {
	font-family: GothamBook;
	src: url('/fonts/gotham-book.eot') /* EOT file for IE */
}
@font-face {
	font-family: GothamBook;
	src: url('/fonts/gotham-book.ttf') /* TTF file for CSS3 browsers */
}
@font-face {
	font-family: GothamBold;
	src: url('/fonts/gotham-bold.eot') /* EOT file for IE */
}
@font-face {
	font-family: GothamBold;
	src: url('/fonts/gotham-bold.ttf') /* TTF file for CSS3 browsers */
}

$transition: .45s ease;

body {
	background-color: #000000;
	padding: 50px 0;
}

a,
a:hover,
a:focus {
  color: inherit;
  outline: 0;
  text-decoration: none;
}

input,
input:hover,
input:active,
input:focus {
  box-shadow: none !important;
  outline: 0;
}

button,
button:hover,
button:active,
button:focus {
  box-shadow: none !important;
  outline: 0;
}

textarea {
	height: 93px !important;
	resize: none;
}

select,
select:focus {
  outline: 0;
}

.loading {
	background-color: #6ac820;
	bottom: 0;
	display: none; /* borrar */
	left: 0;
	opacity: 1;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 9999999;
	transition: $transition;
	.load {
		align-items: center;
		display: flex;
		height: 100vh;
		justify-content: center;
		img {}
	}
	&.loaded {
		opacity: 0;
		z-index: -9;
	}
}

header {
	margin-bottom: 21px;
	.container {
		.row {
			.col-xs-12 {
				.header {
					.logo {
						align-items: center;
						display: flex;
						height: 60px;
						justify-content: center;
						margin-bottom: 21px;
					}
					h2 {
						color: white;
						font-size: 30px;
						text-align: center;
					}
				}
			}
		}
	}
}

.wrapper {
	height: 590px;
	&.mod {
		height: auto;
		.container {
			.row {
				padding-bottom: 42px;
			}
		}
	}
	&.modd {
		height: 100%;
		.container {
			.row {
				.col-xs-12 {
					.form {
						height: 100%;
						.content {
							min-height: 512px;
						}
					}
				}
			}
		}
	}
	.container {
		height: 100%;
		.row {
			background-color: white;
			height: 100%;
			.col-xs-12 {
				height: 100%;
				padding-left: 0;
				padding-right: 0;
				.img {
					height: 100%;
					img {
						height: 100%;
						object-fit: cover;
						width: 100%;
					}
				}
				.form {
					padding: 0 15px;
					.nav-tabs {
						align-items: flex-start;
						background-color: #f8f8f8;
						border: 0;
						border-bottom: 1px solid #dddddd;
						display: flex;
						justify-content: space-between;
						margin: 0 -15px 21px -15px;
						padding: 0;
						li {
							margin: 0;
							padding: 0;
							width: 50%;
							a {
								align-items: center;
								background-color: transparent;
								border: 0;
								color: #212121;
								display: flex;
								font-family: GothamBook;
								font-size: 18px;
								height: 50px;
								justify-content: center;
								margin: 0;
								padding: 0;
								position: relative;
								&::after {
									background-color: #d0021b;
									bottom: 0;
									content: "";
									display: block;
									height: 5px;
									left: 0;
									opacity: 0;
									position: absolute;
									width: 100%;
									transition: $transition;
								}
							}
							&.active {
								a {
									&::after {
										opacity: 1;
									}
								}
							}
						}
					}
					.tab-content {
						.tab-pane {

						}
					}
					form {
						margin: 0 auto;
						width: 410px;
						.col1 {
							.input-group {
								width: 100%;
							}
							&.actions {
								justify-content: center;
								margin-top: 28px;
								.input-group {
									width: 130px;
									button {
										background-color: #d0021b;
										border: 2px solid #d0021b;
										border-radius: 0;
										color: white;
										font-size: 16px;
										height: 40px;
										text-transform: uppercase;
										width: 100%;
										transition: $transition;
										&:hover {
											background-color: white;
											color: #d0021b;
										}
									}
								}
							}
						}
						.col2 {
							.input-group {
								width: 48%;
								.input-group {
									width: 100%;
									.combodate {
										display: flex;
										justify-content: space-between;
										margin-bottom: 0;
										select {
											color: rgba(0, 0, 0, 0.54);
											text-transform: uppercase;
											width: 31.66% !important;
										}
									}
								}
							}
						}
						.col1,
						.col2 {
							align-items: flex-start;
							display: flex;
							justify-content: space-between;
							margin-bottom: 14px;
							.input-group {
								span {
									color: rgba(0, 0, 0, 0.54);
									display: block;
									font-size: 14px;
									margin-bottom: 7px;
								}
								input {
									background-color: transparent;
									border-radius: 0px;
									border: 1px solid #cccccc;
									font-size: 12px;
									height: 40px;
									padding: 6px 14px;
									width: 100%;
								}
								label {
									font-size: 12px;
									font-weight: normal;
									margin-bottom: 0;
									&:nth-child(2) {
										margin-right: 14px;
									}
									input {
										height: initial;
										margin-right: 7px;
										margin-top: 0;
										width: initial;
									}
									span {
										display: inline-block;
										margin-bottom: 0;
									}
								}
								select {
									background-color: transparent;
									border-radius: 0px;
									border: 1px solid #cccccc;
									height: 40px;
									font-size: 12px;
									padding: 6px 14px;
									width: 100%;
								}
							}
							&.actions {
								.input-group {
									button {}
								}
							}
						}
					}
					.content {
						align-items: center;
						display: flex;
						flex-direction: column;
						justify-content: center;
						margin: 0 auto;
						width: 545px;
						p {
							color: #898989;
							font-family: GothamBook;
							font-size: 14px;
							text-align: center;
							margin-bottom: 35px;
							span {
								color: #898989;
								display: block;
								font-size: 24px;
							}
						}
						.addtogoogle {
							align-items: center;
							display: flex;
							flex-direction: column;
							margin-bottom: 28px;
							span {
								font-family: GothamBook;
								font-size: 12px;
							}
							img {}
						}
						a {
							align-items: center;
							background-color: #d0021b;
							border: 2px solid #d0021b;
							border-radius: 0;
							color: white;
							display: flex;
							font-size: 16px;
							height: 40px;
							justify-content: center;
							text-transform: uppercase;
							width: 165px;
							transition: $transition;
							&:hover {
								background-color: white;
								color: #d0021b;
							}
						}
					}
				}
				.titulo {
					align-items: center;
					background-color: #f8f8f8;
					border-bottom: 5px solid  #ff311a;
					display: flex;
					height: 51px;
					justify-content: flex-start;
					margin: 0 -15px 28px -15px;
					h3 {
						color: #212121;
						font-size: 18px;
						margin: 0 120px;
						padding: 0;
					}
					&.mod {
						margin: 0 0 28px 0;
					}
				}
				.title {
					display: flex;
					justify-content: space-between;
					margin: 21px 35px 21px 35px;
					h2 {
						color: #898989;
						font-size: 18px;
						margin: 0;
					}
					.filter {
						select {
							border: 1px solid #cccccc;
							border-radius: 3px;
							height: 30px;
							width: 200px;
						}
					}
				}
				.items {
					margin: 0 auto;
					width: 600px;
					.item {
						border-top: 1px solid #cccccc;
						margin-top: 35px;
						h3 {
							color: #428bca;
							font-size: 24px;
						}
						.datum {
							align-items: center;
							display: flex;
							justify-content: space-around;
							.data {
								width: 25%;
								i {
									font-size: 20px;
									margin-right: 7px;
								}
								button {
									background-color: #d0021b;
									border: 2px solid #d0021b;
									border-radius: 0;
									color: white;
									font-size: 16px;
									height: 40px;
									text-transform: uppercase;
									width: 130px;
									transition: $transition;
									&:hover {
										background-color: white;
										color: #d0021b;
									}
									&.registrado {
										background-color: white;
										color: #d0021b;
									}
									&.agotado {
										background-color: transparent;
										border: 0;
										color: #000;
									}
								}
								&:nth-child(1),
								&:nth-child(2),
								&:nth-child(3) {
									align-items: center;
									display: flex;
									justify-content: flex-start;
								}
								&:nth-child(1) {
									i {
										color: #46b1f8;
									}
								}
								&:nth-child(2) {
									i {
										color: #d0021b;
									}
								}
								&:nth-child(3) {
									i {
										color: #59ca18;
									}
								}
								&:nth-child(4) {
									display: flex;
									justify-content: flex-end;
								}
							}
						}
						&:nth-child(1) {
							border-top: 0;
							margin-top: 0;
						}
					}
				}
				.pagination {
					align-items: center;
					display: flex;
					justify-content: center;
					margin: 49px 0 0 0;
					a {
						align-items: center;
						background-color: white;
						border-bottom: 1px solid #cccccc;
						border-right: 1px solid #cccccc;
						border-top: 1px solid #cccccc;
						color: #428bca;
						display: flex;
						height: 34px;
						justify-content: center;
						width: 34px;
						transition: $transition;
						&:nth-child(1) {
							border-left: 1px solid #cccccc;
							border-radius: 3px 0 0 3px;
						}
						&:last-child {
							border-radius: 0 3px 3px 0;
						}
						&:hover {
							background-color: #428bca;
							color: white;
						}
					}
					span {
						align-items: center;
						background-color: #428bca;
						border-bottom: 1px solid #cccccc;
						border-right: 1px solid #cccccc;
						border-top: 1px solid #cccccc;
						color: white;
						display: flex;
						height: 34px;
						justify-content: center;
						width: 34px;
					}
				}
			}
		}
	}
}

footer {
	.container {
		.row {
			.col-xs-12 {
				.rede {
					align-items: center;
					display: flex;
					justify-content: center;
					margin-top: 35px;
					a {
						align-items: center;
						background-color: white;
						border-radius: 50%;
						display: flex;
						height: 30px;
						justify-content: center;
						margin: 0 7px;
						width: 30px;
						i {
							font-size: 20px;
						}
					}
				}
				.powered {
					align-items: center;
					display: flex;
					height: 60px;
					justify-content: center;
					span {
						color: #898989;
						display: inline-block;
						height: initial;
						img {
							height: 10px;
							width: 58px;
						}
					}
				}
			}
		}
	}
}