@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
	.cconfirmation {
		background-image: none;
	}
	/* PRIMERA */
	.wrapper {
		.container {
			height: calc(100vh - 89px);
			.row {
				position: relative;
				#primera {
					.confirmation {
						margin: 0 auto;
						margin-top: 140px;
					}
				}
				#segunda {
					bottom: 133px;
					position: absolute;
					width: 440px;
				}
			}
		}
	}

	/* FOOTER */
	.wrapper {
		.container-fluid {
			footer {
				width: 100%;
				margin: 0 auto;
				.copyright {
					p {
						&:nth-child(1),
						&:nth-child(2) {
							margin-right: 14px;
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1600px) {
	.cconfirmation {
		background-size: cover;
		.wrapper {
			.container {
				height: calc(100vh - 89px);
			}
		}
	}
}

@media screen and (max-width: 900px) {
	body{
		background-image: url('/img/landings/dimitrivegas/bag_dimitri.jpg');
		background-color: #334049;
		background-position: top center;
		background-repeat: no-repeat;
		font-family: 'Roboto', sans-serif;
	}

	/* HEADER */
	.wrapper {
		.container {
			margin-bottom: 21px;
			.row {
				header {
					height: 80px;
					margin-bottom: 35px;
					padding-top: 35px;
					.cabecera {
						display: inline-block;
						width: 400px;
						height: 20px;
					}
					.moto_logo {
						height: 100%;
						.logo {
							align-items: center;
							display: flex;
							height: 100%;
							img {
								height: 60px;
								width: 200px;
							}
						}
						p {
							color: #000;
							margin-top: 10px;
							padding-left: 15px;
						}
					}
					.navc {
						height: 100%;
						nav {
							align-items: center;
							display: flex;
							height: 100%;
							justify-content: flex-end;
							padding-right: 40px;
							span {
								color: #000000;
							}
							ul {
								display: flex;
								justify-content: flex-end;
								margin-bottom: 0;
								padding-left: 14px;
								li {
									list-style: none;
									margin: 0 4px;
									a {
										align-items: center;
										background-color: #000000;
										border-radius: 50%;
										display: flex;
										height: 24px;
										justify-content: center;
										width: 24px;
										i {
											color: white;
											font-size: 16px;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	/* PRIMERA */
	.wrapper {
		.container {
			.row {
				position: relative;	
				#primera {
					align-items: flex-start;
					display: flex;
					justify-content: flex-end;
					form {
						padding-bottom: 28px;
						margin: 0 auto;
						width: 460px;
						.header {
							align-items: center;
							background-color: #e56b00;
							display: flex;
							padding: 1px 21px;
							border-radius:10px 10px 0px 0px;
							height: 64px;
							position: relative;
							&::after {
								background-image: url('/img/landings/dimitrivegas/pest.png');
								bottom: -15px;
								content: "";
								display: block;
								height: 15px;
								left: 30px;
								position: absolute;
								transform: translateX(-50%);
								width: 27px;
							}
							h3 {
								color: white;
								font-size: 18px;
								font-weight: normal;
								margin: 0;
							}
						}
						.validacion {
							align-items: center;
							border: 2px solid rgba(0, 0, 0, .7);
							background-color: rgba(50, 63, 73, .9);
							border-radius: 7px;
							display: flex;
							font-family: 'Roboto', sans-serif;
							justify-content: flex-start;
							margin-bottom: 21px;
							padding: 7px 14px;
							p {
								color: white;
								font-size: 12px;
								margin-bottom: 0;
							}
							img {
								margin-right: 14px;
							}
						}
						.form {
							background-color: #ffffff;
							border-radius: 0 0 10px 10px;
							color: #989898;
							padding: 35px;
							.form-group {
								align-items: flex-start;
								display: flex;
								justify-content: space-between;
								&.col2 {
									.input-field {
										width: 48%;
									}
								}
								&.col3 {
									.input-field {
										width: 30%;
									}
								}
								.input-field {
									width: 100%;
									span {
										color: #e66b00;
										font-size: 14px;
										display: block;
										margin-bottom: 7px;
									}
									label {
										color: #b1b1b1;
										font-weight: normal;
									}
									input {
										border-radius: 0;
									    padding: 8px 12px;
										width: 100%;
										border-color: #e66b00;
										&[type="radio"] {
											margin-left: 7px;
											padding: 0;
											width: initial;
										}
									}
									select {
										border-radius: 0;
										height: 34px;
										padding: 8px 12px;
										width: 100%;
										border-color: #e66b00;
									}
									.links {
										a {
											display: block;
										}
									}
									a.btn {
										background-color: #e66b00;
										border-color: #e66b00;
										margin-left: auto;
										margin-right: auto;
										height: 45px;
										width: 160px;
										font-size: 18px;
										transition: .45s ease;
										&:hover {

										}
									}
								}
							}
						}
					}
				}
				#segunda {
					bottom: initial;
					margin: 0 auto;
					position: relative;
					width: 460px;
					h3 {
						text-align: center;
					}
					p {
						text-align: center;
					}
				}
			}
		}
	}

	/* FOOTER */
	.wrapper {
		.container-fluid {
			footer {
				width: 100%;
				margin: 0 auto;
				.copyright {
					flex-direction: column;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	body {
		background-position: top right;	
		&.cconfirmation {
			background-color: #f4f4f4;
			background-position: top right;	
		}
	}

	/* PRIMERA */
	.wrapper {
		.container {
			height: calc(100vh - 89px);
			.row {
				position: relative;
				#primera {
					.confirmation {
						margin-top: 140px;
					}
				}
			}
		}
	}

	/* FOOTER */
	.wrapper {
		.container-fluid {
			footer {
				padding: 14px 0;
				.hmoto {
					height: initial;
					justify-content: center;
					margin-bottom: 14px;
					margin-top: 0;
					strong {
						margin-left: 0;
					}
				}
				.hmoto {
					justify-content: center;
					strong {
						margin-left: 0;
					}
				}
				.copyright {
					flex-direction: column-reverse;
					height: initial;
					justify-content: center;
					margin-top: 0;
					p {
						&:nth-child(1) {
							margin-left: 0;
						}
					}
				}
			}
		}
	}

	.show-desk {
		display: none;
	}

	.show-res {
		display: block;
	}
}

@media screen and (max-width: 600px) {
	/* HEADER */
	.wrapper {
		.container {
			margin-bottom: 21px;
			.row {
				header {
					height: initial;
					margin-bottom: 14px;
					padding-top: 14px;
					.moto_logo {
						height: 100%;
						.logo {
							align-items: center;
							display: flex;
							height: 100%;
							justify-content: center;
							margin-bottom: 0;
							img {
								height: 60px;
								width: 200px;
								margin-bottom: 0;
								margin-left: 0;
							}
						}
					}
					.navc {
						height: 100%;
						margin-bottom: 21px;
						nav {
							justify-content: center;
							padding-right: 0;
						}
					}
				}
				img {
					display: block;
					margin: 0 auto 0 auto;
					margin-bottom: 14px;
				}
			}
		}
	}
}

@media screen and (max-width: 414px) {
	/* PRIMERA */
	.wrapper {
		.container {
			.row {
				#primera {
					form {
						margin: 0 auto;
						width: 90%;
						.logoform {
							display: block;
							height: auto;
							margin: 0 auto 0 auto;
							margin-bottom: 14px;
							width: 90%;
						}
						.validacion {
							flex-direction: column;
							p {
								color: white;
								font-size: 12px;
								margin-bottom: 0;
							}
							img {
								display: initial;
								margin: initial;
								margin-bottom: 7px;
								margin-right: 0;
							}
						}
						.form {
							.form-group {
								flex-direction: column;
								&.col2 {
									.input-field {
										width: 100%;
										&:nth-child(2) {
											margin-top: 14px;
										}
									}
									&.gender {
										flex-direction: row;
										.input-field {
											width: 48%;
											&:nth-child(2) {
												margin-top: 0;
											}
										}
									}
								}
								&.col3 {
									flex-direction: row;
								}
								.input-field {
									.links {
										a {
											display: block;
										}
									}
									a.btn {
										display: block;
										margin: 0 auto;
										margin-top: 14px;
										width: 160px;
									}
								}
							}
						}
					}
					.confirmation {
						margin-top: 0;
						.header {
							height: 54px;
							h3 {
								font-size: 22px;
								text-transform: uppercase;
							}
						}
						.form {
							h3 {
								color: #323f48;
								font-family: GothamBold;
								font-size: 36px;
								margin-top: 0;
								text-align: center;
							}
							h5 {
								color: #323f48;
								font-family: GothamBook;
								font-size: 16px;
								margin-bottom: 28px;
								text-align: center;
							}
							a.btn {
								font-size: 16px;
								width: 100%;
								&:hover {

								}
							}
						}
					}
				}
				#segunda {
					margin: 0 auto;
					width: 90%;
				}
			}
		}
	}
}

@media screen and (max-width: 320px) {
	/* HEADER */
	.wrapper {
		.container {
			margin-bottom: 21px;
			.row {
				img {
					width: 90%;
				}
			}
		}
	}

	/* PRIMERA */
	.wrapper {
		.container {
			.row {
				#primera {
					form {
						.validacion {
							img {
								width: initial;
							}
						}
						.form {
							padding: 21px;
						}
					}
				}
				#segunda {
					margin: 0 auto;
					width: 90%;
				}
			}
		}
	}
}