@font-face {
	font-family: GothamBook;
	src: url('/fonts/gotham-book.eot') /* EOT file for IE */
}
@font-face {
	font-family: GothamBook;
	src: url('/fonts/gotham-book.ttf') /* TTF file for CSS3 browsers */
}
@font-face {
	font-family: GothamBold;
	src: url('/fonts/gotham-bold.eot') /* EOT file for IE */
}
@font-face {
	font-family: GothamBold;
	src: url('/fonts/gotham-bold.ttf') /* TTF file for CSS3 browsers */
}

a,
a:hover,
a:focus {
  color: inherit;
  outline: 0;
  text-decoration: none;
}

input,
input:hover,
input:active,
input:focus {
  box-shadow: none !important;
  outline: 0;
}

textarea {
	height: 93px !important;
	resize: none;
}

select,
select:focus {
  outline: 0;
}

body{
	background-image: url('/img/landings/dimitrivegas/bag_dimitri.jpg');
	background-color: #334049;
	background-position: top center;
	background-repeat: no-repeat;
	font-family: 'Roboto', sans-serif;
	&.cconfirmation {
		background-color: #f4f4f4;
		background-position: bottom center;
		background-size: cover;
		.wrapper {
			.container {
				height: calc(100vh - 89px);
			}
		}
	}
}

/* HEADER */
.wrapper {
	.container {
		margin-bottom: 21px;
		.row {
			header {
				height: 80px;
				margin-bottom: 35px;
				padding-top: 35px;
				&::after {
					clear: both;
					content: "";
					display: block;
				}
				.cabecera {
					display: inline-block;
					width: 400px;
					height: 20px;
				}
				.moto_logo {
					height: 100%;
					.logo {
						align-items: center;
						display: flex;
						height: 100%;
						img {
							height: 60px;
							width: 200px;
						}
					}
					p {
						color: #000;
						margin-top: 10px;
						padding-left: 15px;
					}
				}
				.navc {
					height: 100%;
					nav {
						align-items: center;
						display: flex;
						height: 100%;
						justify-content: flex-end;
						padding-right: 40px;
						span {
							color: #000000;
						}
						ul {
							display: flex;
							justify-content: flex-end;
							margin-bottom: 0;
							padding-left: 14px;
							li {
								list-style: none;
								margin: 0 4px;
								a {
									align-items: center;
									background-color: #000000;
									border-radius: 50%;
									display: flex;
									height: 24px;
									justify-content: center;
									width: 24px;
									i {
										color: white;
										font-size: 16px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

/* PRIMERA */
.wrapper {
	.container {
		.row {
			position: relative;	
			#primera {
				align-items: flex-start;
				display: flex;
				justify-content: flex-end;
				form {
					padding-bottom: 28px;
					width: 460px;
					.logoform {
						display: block;
						height: auto;
						margin: 0 auto 0 auto;
						margin-bottom: 14px;
						width: 329px;
					}
					.navc {
						height: 100%;
						margin-bottom: 21px;
						nav {
							align-items: center;
							display: flex;
							height: 100%;
							justify-content: center;
							span {
								color: #000000;
							}
							ul {
								display: flex;
								justify-content: center;
								margin-bottom: 0;
								padding-left: 14px;
								li {
									list-style: none;
									margin: 0 4px;
									a {
										align-items: center;
										background-color: #000000;
										border-radius: 50%;
										display: flex;
										height: 24px;
										justify-content: center;
										width: 24px;
										i {
											color: white;
											font-size: 16px;
										}
									}
								}
							}
						}
					}
					.header {
						align-items: center;
						background-color: #e56b00;
						display: flex;
						padding: 1px 21px;
						border-radius:10px 10px 0px 0px;
						height: 64px;
						position: relative;
						&::after {
							background-image: url('/img/landings/dimitrivegas/pest.png');
							bottom: -15px;
							content: "";
							display: block;
							height: 15px;
							left: 30px;
							position: absolute;
							transform: translateX(-50%);
							width: 27px;
						}
						h3 {
							color: white;
							font-size: 18px;
							font-weight: normal;
							margin: 0;
						}
					}
					.validacion {
						align-items: center;
						border: 2px solid rgba(0, 0, 0, .7);
						background-color: rgba(50, 63, 73, .9);
						border-radius: 7px;
						display: flex;
						font-family: 'Roboto', sans-serif;
						justify-content: flex-start;
						margin-bottom: 21px;
						padding: 7px 14px;
						p {
							color: white;
							font-size: 12px;
							margin-bottom: 0;
						}
						img {
							margin-right: 14px;
						}
					}
					.form {
						background-color: #ffffff;
						border-radius: 0 0 10px 10px;
						color: #989898;
						padding: 35px;
						.form-group {
							align-items: flex-start;
							display: flex;
							justify-content: space-between;
							&.col2 {
								.input-field {
									width: 48%;
								}
							}
							&.col3 {
								.input-field {
									width: 30%;
								}
							}
							.input-field {
								width: 100%;
								span {
									color: #e66b00;
									font-size: 14px;
									display: block;
									margin-bottom: 7px;
								}
								label {
									color: #b1b1b1;
									font-weight: normal;
								}
								input {
									border-radius: 0;
								    padding: 8px 12px;
									width: 100%;
									border-color: #e66b00;
									&[type="radio"] {
										margin-left: 7px;
										padding: 0;
										width: initial;
									}
								}
								select {
									border-radius: 0;
									height: 34px;
									padding: 8px 12px;
									width: 100%;
									border-color: #e66b00;
								}
								.links {
									a {
										display: block;
									}
								}
								a.btn {
									align-items: center;
									background-color: #e66b00;
									border: 2px solid #e66b00;
									display: flex;
									margin-left: auto;
									margin-right: auto;
									height: 45px;
									justify-content: center;
									width: 160px;
									font-size: 18px;
									transition: .45s ease;
									&:hover {
										background-color: #ffffff;
										color: #e66b00;
									}
								}
							}
						}
					}
				}
				.confirmation {
					.header {
						h3 {
							text-transform: uppercase;
						}
					}
					.form {
						h3 {
							color: #323f48;
							font-family: GothamBold;
							font-size: 36px;
							margin-top: 0;
						}
						h5 {
							color: #323f48;
							font-family: GothamBook;
							font-size: 20px;
							margin-bottom: 28px;
						}
						a.btn {
							align-items: center;
							background-color: #e66b00;
							border: 2px solid #e66b00;
							display: flex;
							font-family: GothamBold;
							font-size: 18px;
							height: 45px;
							justify-content: center;
							margin-left: auto;
							margin-right: auto;
							text-transform: uppercase;
							width: 260px;
							transition: .45s ease;
							&:hover {
								background-color: #ffffff;
								color: #e66b00;
							}
						}
					}
				}
			}
			#segunda {
				bottom: 200px;
				position: absolute;
				width: 540px;
				h3 {
					color: #fff;
					font-family: GothamBook, sans-serif;
					font-size: 24px;
					font-weight: normal;
					margin-bottom: 21px;
				}
				p {
					color: #fff;
					font-family: GothamBook, sans-serif;
					font-size: 16px;
					line-height: 22px;
				}
			}
		}
	}
}

/* CONFIRMATION */
.cconfirmation {
	background-image: url('/img/landings/dimitrivegas/bag_dimitri_.jpg');
	.wrapper {
		.container {
			height: calc(100vh - 89px);
		}
	}
}

.mb0 {
	margin-bottom: 0 !important;
}

.fs12 {
	font-size: 12px;
}

.show-desk {
	display: block;
}

.show-res {
	display: none;
}

/* FOOTER */
.wrapper {
	.container-fluid {
		footer {
			width: 1080px;
			margin: 0 auto;
			&::after {
				clear: both;
				content: "";
				display: block;
			}
			.hmoto {
				align-items: center;
				display: flex;
				margin-bottom: 0;
				margin-top:3px;
				height: 65px;
				strong {
					color: #ffffff;
					margin-bottom: 0;
					text-align: center;
					font-size: 30px;
					margin-left: 38px;
					span {
						color: #e66b00;
					}
				}
			}
			.copyright {
				display: flex;
				height: 50%;
				justify-content: flex-end;
				color: #ffffff;
				margin-top: 21px;
				font-size: 11px;
				img {
					width: 58px;
   					height: 10px;
				}
				p {
					&:nth-child(1) {
						margin-left: 14px;
					}
				}
			}
		}
	}
}
