@media screen and (max-width: 1280px){
  .wrapper .container {
    .questions .section-answer .row .answer-text{
      padding-right: 15px;
    }
  }
}

@media (width: 1024px) and (height: 1366px) {
  .wrapper .container {
    .row:nth-child(1) {
      .left {
        padding-top: 170px;
        h1 {
          font-size: 105px;
          line-height: 80px;
        }
        p {
          margin-top: 35px;
          font-size: 35px;
        }
      }
      .right img {
        width: 100%;
      }
      .left .action a.btn-red {
        font-size: 28px;
        padding: 13px;
      }
    }
    footer .container p {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 992px){
  footer{
    position: relative;
    bottom: inherit;
  }
  .wrapper {
    height: auto;
    padding-bottom: 20px;
    .container{
      .row {
        .left .action {
          margin-bottom: 40px;
        }
        &:nth-child(1) {
          padding-top: 40px;
        }
      }
      .questions{
        .section-answer .row{
          .answer-text{
            padding-right: 15px;
          }
          
        }
        .progr{
          margin: 10em 0 2em 0;
        } 
      }
    }
    
  }

}

@media screen and (min-height: 984px) {
  .wrapper .container {
    .row:nth-child(1) {
      .right img {
        width: 60%;
        height: 90%;
      }
    }
  }
}

@media (width: 1280px) and (height: 704px) {
  .wrapper{
    height: auto;
    .container {
      .row:nth-child(1) {
        .right img {
          width: auto;
          height: 450px;
        }
      }
      .questions .section-answer .row .answer-text{
        padding-right: 15px;
      }
    }  
  }
  footer{
    position: relative;
    bottom: inherit;
  }
}

@media screen and (max-width: 767px) {
     
  body {
    header {
      .container {
        .row {
          justify-content: space-around;
          .col-xs-6 .logo {
            padding: 15px 0 0 0;
          }
        }
        
      }
    }
    footer{
      height: auto;
      padding-top: 0;
      padding-bottom: 1em;
    }
  }
  .wrapper {
    min-height: calc(100vh - 130px);
    height: 100%;
    .container {
      .question {
        .row {
          .col {
            h3 {
              margin-bottom: 0;
            }
          }
        }
        
      }
      .row:nth-child(1) {
        .left {
          padding-top: 0;
        }
      }
      .questions{
        .row{
          display: block;
          .col{
            .row{
              .col-xs-12{
                button{
                  padding: 2em 1em
                }
              }
            }
          }
        }
        .progr{
          margin-top:0;
          margin-bottom: 2em;
        } 
        .section-answer{
          margin-top: 2em;
          .row{
            width: auto;
            .answer-text,
            .answer-img{
              width: 100%;
              padding-left: 15px;
              padding-right: 15px;
            }
            .answer-text{
              //text-align: center;
              margin-bottom: 2em;
              h4{
                margin-top: 0;
              }
            }
            .action{
              text-align: center;
            }
            .answer-img{
              margin-bottom:2em;
            }
          }
        }
      }
    }
    .container .row {
      height: 100%;
      .left {
        .d-block {
          display: none !important;
          text-align: center;
          img {
            margin: 30px 0 15px;
            width: 80%;
            position: relative;
          }
        }
        p {
          font-size: 20px;
          color: #ffffff;
          text-align: justify;
          br {
            display: none;
          }
        }
      }
    }
    .row {
      .left .img {
        display: flex;
        height: calc(100vh - 70px);
        justify-content: center;
        padding: 35px 0 0 0;
      }
      .right {
        margin-bottom: 1em;
        img {
          width: 200px;
        }
      }
      .home-img{
        img {
          max-width: 200px;
          height: auto !important;
        }
      }
    }
    .container .row {
      .right {
        display: none;
      }
      .left .action {
        display: flex;
        justify-content: center;
        //margin-bottom: 80px;
        a.btn-red {
          padding: 15px 40px;
          margin: 30px 0 30px 0;
        }
      }
    }
    .container.finish {
      .row {
        .result {
          padding: 0 15px 0 15px;
        }
        .response {
          .action {
            width: 100%;
            &.center {
              justify-content: center;
            }
            a.btn {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
  footer .container p {
    color: #fff;
    margin: 0;
    font-size: 12px;
  }
}

@media screen and (max-width: 414px) {
  .wrapper {
    .container {
      .row {
        padding: 75px 0 0 0;
        height: auto !important;
        .left {
          h1 {
            font-size: 58px !important;
            //text-align: center;
          }
          .action{
           margin-bottom: 3em;
          }
        }
        .right {
          margin-bottom: 2em;
          img {
            width: 200px;
          }
        }
        
      }
      .questions {
        .row {
          .col {
            h3 {
              margin-bottom: 0;
            }
            .row{
              .col-xs-12{
                button{
                  padding: 1em;
                }
              }
            }
          }
        }
        .section-answer {
          margin-top: 2.5em;
          padding-top: 0;
          .row {
            padding: 0;
            .answer-text {
              width: 100%;
              padding-right: 15px;
              h4 {
                margin-top: 0;
              }
              .img-res {
                display: block;
                margin-bottom: 30px;
              }
              .action {
                display: flex;
                justify-content: center;
                a.btn-red {
                  width: 10em;
                }
              }
            }
            .answer-img {
              display: none;
            }
          }
        }
        .progr {
          margin: 45px 0 45px 0;
        }
      }
    }
  }
  .container.finish{
    .row{
      .response{
        .action{
          display: block !important;
          padding: 0 35px !important;
          a.btn{
            width: 100% !important;
            display: block;
            margin: 0 auto 20px auto;
          }
        }
      }
    }
  }
}
/* 
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .wrapper {
    .container {
      .questions {
        .section-answer {
          h3 {
            margin-top: 21px;
          }
          .row {
            .answer-img {
              img {
                height: 70%;
                width: auto;
              }
            }
          }
        }
        .row {
          &:nth-child(1) {
            padding-top: 35px;
          }
          .col {
            .row {
              .col-xs-12 {
                button {
                  padding: .5em;
                }
              }
            }
          }
        }
      }
    }
  }
} */