//Variables
$color1: #ffffff;
$color2: #e20513;
$color3: #fc6a21;
$color4: #fee533;

// *,*:after,*:before{
//   outline: 1px dashed lime;
// }
//Fonts
@font-face {
  font-family: GothamBook;
  src: url('/fonts/gotham-book.eot');
  /* EOT file for IE */
}

@font-face {
  font-family: GothamBook;
  src: url('/fonts/gotham-book.ttf');
  /* TTF file for CSS3 browsers */
}

@font-face {
  font-family: GothamBold;
  src: url('/fonts/gotham-bold.eot');
  /* EOT file for IE */
}

@font-face {
  font-family: GothamBold;
  src: url('/fonts/gotham-bold.ttf');
  /* TTF file for CSS3 browsers */
}

@font-face {
  font-family: GothamMedium;
  src: url('/fonts/gotham-medium.otf');
  /* EOT file for IE */
}

html {
  min-height: 100%;
}

body {
  font-family: GothamBook;
  background-color: #519b00;
  background-size: cover;
  background-image: url('/img/trivia/verde.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  overflow-x: hidden;
}

header .container .row .col-6 {
  .logo {
    align-items: center;
    display: flex;
    height: 70px;
    justify-content: flex-start;
    h1 {
      margin: 0;
      padding: 0;
      font-size: 0;
      a {
        background: url('/img/trivia/logo.svg');
        background-repeat: no-repeat;
        background-position: center center;
        display: inline-block;
        height: 40px;
        text-indent: -9999px;
        width: 173px;
      }
    }
  }
  nav {
    align-items: center;
    display: flex;
    height: 70px;
    justify-content: flex-end;
    a {
      background-color: $color1;
      border-radius: 15px;
      height: 24px;
      width: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 5px;
      &:nth-child(1) {
        margin-left: 0;
      }
      i {
        color: #343a40;
        font-size: 24px;
      }
    }
  }
}

.wrapper {
  &.this_not {
    height: initial;
  }
  .container {
    height: 100%;
    .row {
      height: 100%;
    }
    .row:nth-child(1) {
      padding-top: 110px;
      display: flex;
      justify-content: start;
      .left {
        h1 {
          font-family: GothamBold;
          color: $color1;
          font-size: 75px;
          font-weight: bold;
          line-height: 55px;
          span {
            color: #FFE500;
          }
        }
        p {
          font-family: GothamMedium;
          margin-top: 35px;
          font-size: 21px;
          color: $color1;
          span {
            color: #FFE500;
          }
        }
        .action a.btn-red {
          text-transform: uppercase;
          background-color: $color2;
          border: 2px solid $color2;
          color: $color1;
          font-family: GothamBold;
          padding: 9px 12px;
          width: 10em;
          &:hover {
            background-color: $color1;
            border-color: $color1;
            color: $color2;
          }
        }
      }
      .right {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        img {
          height: 100%;
          width: auto;
        }
        .action a.btn-red {
          background-color: $color2;
          border: 2px solid $color2;
          color: $color1;
          margin-top: 1em;
          font-family: GothamBold;
          padding: 0.5em;
          text-transform: uppercase;
          width: 10em;
          &:hover {
            background-color: $color1;
            border-color: $color1;
            color: $color2;
          }
        }
      }
    }
    .questions {
      .row {
        .col {
          h3 {
            font-family: GothamBold;
            color: $color1;
            margin-bottom: 70px;
            text-align: center;
            span {
              color: $color4;
            }
          }
          .row {
            .col-xs-12 {
              button {
                background-color: transparent;
                border: 1px solid $color1;
                display: block;
                font-weight: bold;
                font-size: 20px;
                font-family: GothamMedium;
                height: 100%;
                padding: 1em;
                width: 100%;
              }
            }
          }
        }
      }
      .section-answer {
        margin-top: 10em;
        h3 {
          color: $color1;
          font-family: GothamBold;
          text-align: center;
          margin: 2em 0;
        }
        .row {
          width: 100%;
          .answer-text {
            width: 50%;
            padding-left: 15px;
            padding-right: 10%;
            h4 {
              font-family: GothamBold;
              //margin-top: 2em;
              color: $color1;
            }
            p {
              font-family: GothamBold;
              color: $color1;
              font-size: 20px;
              margin-bottom: 2em;
              span {
                color: $color3;
              }
            }
            .img-res {
              display: none;
            }
            .action a.btn-red {
              background-color: $color2;
              border: 2px solid $color2;
              color: $color1;
              font-family: GothamBold;
              padding: 9px 12px;
              text-transform: uppercase;
              width: 16em;
              &:hover {
                background-color: $color1;
                border-color: $color1;
                color: $color2;
              }
            }
          }
          .answer-img {
            align-items: center;
            width: 50%;
            display: flex;
            justify-content: center;
            img {
              height: auto;
              max-height: 325px;
              width: auto;
            }
          }
        }
      }
      .progr {
        margin: 8em 0 4em 0;
      }
    }
  }
  .container.finish {
    .row {
      .result {
        display: flex;
        justify-content: start;
        width: 100%;
        i {
          font-size: 34px;
          margin-right: 5px;
          margin-top: 5px;
        }
        h2 {
          color: $color1;
          font-family: GothamBold;
          font-size: 1.8em;
          span {
            color: $color4;
          }
        }
      }
      .response {
        margin-top: 3em;
        width: 100%;
        height: 100%;
        .col-12 {
          display: flex;
          justify-content: start;
          margin-top: 2em;
          &:nth-child(1) {
            margin-top: 0;
          }
          i {
            font-size: 18px;
            margin-top: 2px;
            margin-right: 7px;
          }
          .answer {
            p {
              color: $color1;
              font-family: GothamMedium;
              width: 100%;
            }
            .correct-answer {
              border: 2px solid $color1;
              color: $color1;
              font-family: GothamBold;
              padding: 10px;
              width: fit-content;
            }
          }
        }
        .action {
          display: flex;
          font-family: GothamMedium;
          justify-content: space-between;
          margin: 5em 0;
          padding: 0 15px 0 35px;
          width: 50%;
          a.btn {
            background-color: $color2;
            color: $color1;
            padding: 10px;
            width: 45%;
            border: 2px solid $color2;
            &:hover {
              border: 2px solid $color1;
              background-color: $color1;
              color: $color2;
            }
            &:nth-last-child(1) {
              background-color: $color4;
              border: 2px solid $color4;
              color: #000;
              &:hover {
                background-color: transparent;
                border: 2px solid #000;
              }
            }
          }
        }
      }
    }
  }
}

footer {
  padding-top: 20px;
  width: 100%;
  color: $color1;
  &.fixed{   
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
  }
  .container {
    display: flex;
    justify-content: center;
    p {
      color: $color1;
      a {
        color: $color1;
        width: 100%;
        display: block;
        text-decoration: none;
        text-align: center;
        &:focus {
          color: $color1;
          width: 100%;
          display: block;
          text-decoration: none;
          text-align: center;
        }
      }
    }
  }
}

.bg-dark {
  background-size: cover;
  background-image: url('/img/trivia/oscuro.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}



.amarillo {
  color: #fee533;
}

.yellow {
  color: $color4;
}

.btn-amarillo {
  background-color: #fee533;
  color: black;
}

.pg-amarillo {
  background-color: #fee533;
}

.negro {
  color: black;
}

.naranja {
  color: #fc6a21;
}

.orange {
  color: $color3 !important;
}

.bg-orange {
  background-color: #fc6a21 !important;
}

.rojo {
  color: #e20513;
}

.red {
  color: $color2;
}

#formulario {
  label.error, input.submit {
    margin-left: 10px;
    width: auto;
    display: inline;
    color: red;
  }
}

.ancho-30 {
  width: 30px;
}

.text-size-36 {
  font-size: 36px;
}

.redes {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  a {
    color: #386700;
    background-color: $color1;
    border-radius: 50%;
    height: 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 7px;
    width: 30px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    i {
      font-size: 20px;
    }
  }
}

.fa {
  display: inline-block !important;
  font: normal normal normal 14px/1 FontAwesome !important;
  font-size: inherit !important;
  text-rendering: auto !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

.mb-75 {
  margin-bottom: 75px;
}

#mod-log {
  .modal-body {
    .logo {
      text-align: center;
    }
  }
}

.nav-pills .nav-link.active {
  background-color: #ffffff;
  color: #000;
}

.nav-pills .nav-link {
  background-color: #e20513;
  color: #ffffff;
}

.wrapper {
  .container {
    .row:first-child {
      .left {
        .disclaimer {
          h2 {
            color: #ffe500;
            display: block;
            font-family: GothamBold;
            font-size: 16px;
            margin-bottom: 14px;
          }
          p {
            text-align: justify;
            width: 100%;
            word-break: break-word;
            font-size: 14px;
          }
        }
      }
    }
  }
}

body.bg-dark{
  footer{
    position: relative;
    bottom: inherit;
  }
}