$transition: .45s ease;

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
	.wrapper {
		.container {
			.row {
				.col-xs-12 {
					.land_logo {
						img {
							height: auto;
							width: 100%;
						}
					}
				}
			}
		}
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) { 

}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) { 

}

@media screen and (max-width: 1200px) {
	.wrapper {
		&.terminos {
			.container {
				.row {
					&:nth-child(2) {
						margin-top: 28px;
					}
				}
			}
		}
		.container {
			.row {
				.col-xs-12 {
					.finalizado {
						.img {
							img {
								height: auto;
								width: 60%;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	

	.wrapper {
		.container {
			.row {
				.col-xs-12 {
					.login {
						justify-content: center;
					}
					.land_logo {
						img {
							display: block;
							margin: 0 auto 0 auto;
						}
					}
					.the_content {
						margin: 0 auto 41px auto;
					}
					.embajadores {
						display: none;
					}
				}
			}
		}
	}

	footer {
		.container {
			.row {
				.col-xs-12 {
					span {
						height: 40px;
						justify-content: center;
					}
					.powered {
						flex-direction: column;
						height: auto;
						justify-content: center;
						padding: 14px 0;
						span {
							height: auto;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 414px) {

	header {
		.container {
			.row {
				.col-xs-12 {
					.logo,
					nav {
						justify-content: center;
					}
				}
			}
		}
	}

	.wrapper {
		&.terminos {
			.container {
				.row {
					&:nth-child(2) {
						margin-top: 14px;
					}
				}
			}
		}
		.container {
			.row {
				.col-xs-12 {
					.login {
						justify-content: center;
					}
					.land_logo {
						img {
							height: auto;
							width: 100%;
						}
					}
					.the_content {
						margin-bottom: 0;
						width: 100%;
					}
					.form {
						margin-top: 42px;
						width: 90%;
						.header {
							h2,
							h3 {
								text-align: center;
							}
							p {
								text-align: center;
							}
							&::after {
								left: 50%;
								transform: translateX(-50%) rotate(45deg);
							}
						}
						form {
							margin: 0 auto;
							width: 90%;
							.col1,
							.col2,
							.col3{
								flex-direction: column;
								margin-bottom: 0;
							}
							.col1,
							.col2 {
								.input-group {
									margin-bottom: 14px;
									width: 100%;
								}
							}
							.col3 {
								.input-group {
									flex-direction: column;
									select {
										margin-bottom: 14px;
										width: 100% !important;
									}
									.combodate {
										select {
											margin-bottom: 0;
										}
									}
								}
							}
						}
					}
					.img {
						img {
							height: auto;
							width: 100%;
						}
					}
					.copy {
						h2,
						h3 {
							text-align: center;
						}
					}
					.img-r {
						display: flex;
						justify-content: center;
					}
					.finalizado {
						.links {
							display: flex;
							flex-direction: column;
							a {
								margin: 0;
								width: 100%;
								&:nth-child(1) {
									margin-bottom: 14px;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 320px) {

}