@font-face {
	font-family: GothamBook;
	src: url('/fonts/gotham-book.eot') /* EOT file for IE */
}
@font-face {
	font-family: GothamBook;
	src: url('/fonts/gotham-book.ttf') /* TTF file for CSS3 browsers */
}
@font-face {
	font-family: GothamBold;
	src: url('/fonts/gotham-bold.eot') /* EOT file for IE */
}
@font-face {
	font-family: GothamBold;
	src: url('/fonts/gotham-bold.ttf') /* TTF file for CSS3 browsers */
}

body {
	background-color: #000;
}

a,
a:hover,
a:focus {
  color: inherit;
  outline: 0;
  text-decoration: none;
}

input,
input:hover,
input:active,
input:focus {
  box-shadow: none !important;
  outline: 0;
}

textarea {
	height: 93px !important;
	resize: none;
}

select,
select:focus {
  outline: 0;
}

body{
	font-family: 'Roboto', sans-serif;
	&.cconfirmation {
		background-position: bottom center;
		background-size: cover;
	}
}

/* HEADER */
.wrapper {
	background-image: url('/img/landings/comunidad/index.jpg');
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	.container {
		height: 100%;
		.row {
			header {
				height: 80px;
				margin-bottom: 35px;
				padding-top: 35px;
				&::after {
					clear: both;
					content: "";
					display: block;
				}
				.cabecera {
					display: inline-block;
					width: 400px;
					height: 20px;
				}
				.moto_logo {
					height: 100%;
					.logo {
						align-items: center;
						display: flex;
						height: 100%;
						img {
							height: 60px;
							width: 200px;
						}
					}
					p {
						color: #000;
						margin-top: 10px;
						padding-left: 15px;
					}
				}
				.navc {
					height: 100%;
					nav {
						align-items: center;
						display: flex;
						height: 100%;
						justify-content: flex-end;
						padding-right: 0px;
						span {
							color: #ffffff;
							font-family: GothamBold;
							font-size: 14px;
						}
						ul {
							display: flex;
							justify-content: flex-end;
							margin-bottom: 0;
							padding-left: 14px;
							li {
								list-style: none;
								margin: 0 4px;
								a {
									align-items: center;
									border-radius: 50%;
									display: flex;
									height: 34px;
									justify-content: center;
									width: 34px;
									img {
										height: auto;
										width: 100%;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

/* PRIMERA */
.wrapper {
	.container {
		.row {
			position: relative;	
			#primera {
				align-items: flex-start;
				display: flex;
				justify-content: flex-end;
				form {
					padding-bottom: 28px;
					width: 460px;
					.logoform {
						display: block;
						height: auto;
						margin: 0 auto 0 auto;
						margin-bottom: 14px;
						width: 329px;
					}
					.navc {
						height: 100%;
						margin-bottom: 21px;
						nav {
							align-items: center;
							display: flex;
							height: 100%;
							justify-content: center;
							span {
								color: #000000;
							}
							ul {
								display: flex;
								justify-content: center;
								margin-bottom: 0;
								padding-left: 14px;
								li {
									list-style: none;
									margin: 0 4px;
									a {
										align-items: center;
										border-radius: 50%;
										display: flex;
										height: 24px;
										justify-content: center;
										width: 24px;
										i {
											color: white;
											font-size: 16px;
										}
									}
								}
							}
						}
					}
					.header {
						background-color: #f04187;
						padding: 21px;
						border-radius:10px 10px 0px 0px;
						position: relative;
						&::after {
							background-image: url('/img/landings/comunidad/pest.png');
							bottom: -15px;
							content: "";
							display: block;
							height: 15px;
							left: 30px;
							position: absolute;
							transform: translateX(-50%);
							width: 27px;
						}
						h3 {
							color: white;
							display: block;
							font-family: GothamBold;
							font-size: 18px;
							font-weight: normal;
							margin: 0;
							text-transform: uppercase;
							span {
								color: #f7e636;
								&.y {
									color: #f7e636;
								}
							}
						}
						p {
							color: white;
							font-family: 'Roboto', sans-serif;
							font-size: 14px;
							margin-bottom: 0;
							margin-top: 14px;
						}
					}
					.validacion {
						align-items: center;
						border: 2px solid rgba(0, 0, 0, .7);
						background-color: rgba(50, 63, 73, .9);
						border-radius: 7px;
						display: flex;
						font-family: 'Roboto', sans-serif;
						justify-content: flex-start;
						margin-bottom: 21px;
						padding: 7px 14px;
						p {
							color: white;
							font-size: 12px;
							margin-bottom: 0;
						}
						img {
							margin-right: 14px;
						}
					}
					.form {
						background-color: #ffffff;
						border-radius: 0 0 10px 10px;
						color: #989898;
						padding: 35px;
						.form-group {
							align-items: flex-start;
							display: flex;
							justify-content: space-between;
							&.col2 {
								.input-field {
									width: 48%;
								}
							}
							&.col3 {
								width: 80%;
								.input-field {
									width: 30%;
								}
							}
							p {
								font-family: GothamBook;
							}
							.input-field {
								width: 100%;
								span {
									color: #333f48;
									font-size: 14px;
									font-family: GothamBook;
									display: block;
									margin-bottom: 7px;
								}
								label {
									color: #b1b1b1;
									font-family: GothamBook;
									font-weight: normal;
									margin-bottom: 0;
									font-size: 13px;
								}
								input {
									border-radius: 0;
								    padding: 8px 12px;
									width: 100%;
									border-color: #333f48;
									&[type="radio"] {
										margin-left: 7px;
										padding: 0;
										width: initial;
									}
								}
								select {
									border-radius: 0;
									height: 34px;
									padding: 8px 12px;
									width: 100%;
									border-color: #333f48;
								}
								strong {
									font-family: GothamBold;
								}
								.links {
									a {
										display: block;
									}
								}
								a.btn {
									align-items: center;
									background-color: #46c8e1;
									border: 2px solid #46c8e1;
									border-radius: 0;
									display: flex;
									margin-left: auto;
									margin-right: auto;
									height: 45px;
									justify-content: center;
									width: 160px;
									font-size: 18px;
									transition: .45s ease;
									&:hover {
										background-color: #ffffff;
										color: #46c8e1;
									}
								}
							}
						}
					}
				}
				.confirmation {
					.header {
						h3 {
							text-transform: uppercase;
						}
					}
					.form {
						h3 {
							color: #323f48;
							font-family: GothamBold;
							font-size: 36px;
							margin-top: 0;
						}
						h5 {
							color: #323f48;
							font-family: GothamBook;
							font-size: 20px;
							margin-bottom: 28px;
						}
						a.btn {
							align-items: center;
							background-color: #46c8e1;
							border: 2px solid #46c8e1;
							border-radius: 0;
							display: flex;
							font-family: GothamBook;
							font-size: 18px;
							height: 45px;
							justify-content: center;
							text-transform: uppercase;
							width: 320px;
							transition: .45s ease;
							&:hover {
								background-color: #ffffff;
								color: #46c8e1;
							}
							&.mod {
								background-color: #ffffff;
								border: 2px solid #f04187;
								color: #f04187;
								&:hover {
									background-color: #f04187;
									color: #ffffff;
								}
							}
						}
					}
				}
			}
			#segunda {
				margin-top: 640px;
				h3 {
					color: #fff;
					font-family: GothamBold;
					font-size: 28px;
					margin-bottom: 21px;
					span {
						&.amarillo {
							color: #f7e636;
						}
						&.rosa {
							color: #f04187;
						}
					}
				}
				ul {
					padding: 0 0 0 15px;
					li {
						color: #fff;
						font-family: GothamBook, sans-serif;
						font-size: 16px;
						line-height: 22px;
						padding-left: 35px;
					}
				}
			}
		}
	}
}

/* CONFIRMATION */


.cconfirmation,
.gracias {
	.wrapper {
		background-image: url('/img/landings/comunidad/confirmation.jpg');
		background-position: top center;
		background-repeat: no-repeat;
		background-size: cover;
		.container {
			.row {
				.col-xs-12 {
					#primera {
						margin-top: 100px;
					}
				}
			}
		}
	}
}

.gracias {
	.wrapper {
		background-image: url('/img/landings/comunidad/gracias.jpg');
		.container {
			height: initial;
			.row {
				#primera {
					margin-top: 0 !important;
					form {
						.form {
							border-radius: 0;
							color: #323f48;
							font-family: GothamBold;
							font-size: 20px;
							padding: 70px 35px 49px 35px;
							strong {
								display: block;
								margin-bottom: 21px;
							}
							p {
								font-family: GothamBook;
								margin-bottom: 28px;
							}
						}
						.img {
							img {
								height: auto;
								width: 100%;
							}
						}
					}
				}
			}
		}
	}
	.hmoto {
		span {
			color: #f04187;
		}
	}
}

.mb0 {
	margin-bottom: 0 !important;
}

.fs12 {
	font-size: 12px;
}

.show-desk {
	display: block;
}

.show-res {
	display: none;
}

/* FOOTER */
.container-fluid {
	background-color: #000000;
	height: 68px;
	.row {
		height: 100%;
		footer {
			align-items: center;
			display: flex;
			height: 100%;
			justify-content: space-between;
			margin: 0 auto;
			width: 1200px;
			&::after {
				clear: both;
				content: "";
				display: block;
			}
			.hmoto {
				align-items: center;
				display: flex;
				width: 50%;
				strong {
					color: #ffffff;
					margin-bottom: 0;
					text-align: center;
					font-size: 30px;
					margin-left: 38px;
					span {
						color: #46c8e1;
					}
				}
			}
			.copyright {
				display: flex;
				justify-content: flex-end;
				color: #ffffff;
				font-size: 11px;
				width: 50%;
				img {
					width: 58px;
						height: 10px;
				}
				p {
					margin-bottom: 0;
				}
			}
		}
	}
}
