$transition: .45s ease;

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
	.wrapper {
		.container {
			.row {
				.col-xs-12 {
					.land_logo {
						img {
							height: auto;
							width: 100%;
						}
					}
					.img {
						img {
							height: 100%;
						    object-fit: cover;
						    width: 100%;
						}
					}
				}
			}
		}
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) { 

}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) { 

}


@media screen and (max-width: 991px) {

	.wrapper .container .row .col-xs-12 .img.tol{
		margin-top: 30px;
	}

}


@media screen and (max-width: 768px) {
	body {
		&::after {
			display: none;
		}
		.wrapper{
			min-height: calc(100vh - 265px);
		}
	}

	.wrapper {
		.container {
			.row {
				.col-xs-12 {
					.login {
						justify-content: center;
					}
					.land_logo {
						img {
							display: block;
							margin: 0 auto 0 auto;
						}
					}
					.the_content {
						margin: 0 auto 41px auto;
						text-align: justify;
						p {
							width: 100%;
						}
						ul {
							li {
								p {
									width: calc(100% - 48px - 14px);
								}
							}
						}
					}
					.acciones{
						margin: 0 auto;
					}
					.img {
						&.tol {
							display: none;
							&.visible-xs {
								margin-bottom: 21px;
								margin-top: 35px;
								img {
									display: block;
									height: auto;
									margin: 0 auto;
									width: 60%;
									transform: translateX(-12%)
								}
							}
						}
					}
				}
			}
		}
	}

	footer {
		background: url("/img/landings/tolinchi/Rectangle.svg");
		background-position: top center;
		background-size: cover;
		.container {
			padding-top: 0;
			height: auto;
			&::before {
				display: none;
			}
			.row {
				.col-xs-12 {
					span {
						height: 40px;
						justify-content: center;
					}
					.powered {
						flex-direction: column;
						height: auto;
						justify-content: center;
						padding: 0;
						span {
							height: auto;
							text-align: center;
						}
						&.mod {
							a {
								display: inline-block;
								&:nth-child(1) {
									border-right: 0;
									margin-bottom: 14px;
									margin-right: 0;
									padding-right: 0;
								}
							}
						}
						&.modd {
							padding-top: 70px;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 414px) {
	body {
		background: #6ac820 url("/img/landings/tolinchi/resp_bkg.jpg");
	}

	header {
		.container {
			.row {
				.col-xs-12 {
					.logo,
					nav {
						justify-content: center;
					}
				}
			}
		}
	}

	.wrapper {
		.container {
			.row {
				.col-xs-12 {
					.login {
						justify-content: center;
					}
					.land_logo {
						margin-top: 49px;
						img {
							height: auto;
							width: 100%;
						}
					}
					.the_content {
						margin-bottom: 49px;
						width: 100%;
						p {
							width: 100%;
						}
						ul {
							padding-top: 0px;
							li {
								text-align: justify;
								strong {
									float: none;
									margin: 0 auto;
								}
								p {
									width: 100%;
								}
							}
						}
						&.disc {
							strong {
								text-align: center;
							}
							p {
								text-align: justify;
								width: 100%;
								word-break: break-word;
								a {
									margin: 0 auto;
									&:nth-child(1) {
										margin-bottom: 14px;
										margin-right: 0;
									}
								}
							}
						}
					}
					.acciones {
						flex-direction: column;
						padding-bottom: 28px;
						width: 100%;
						a {
							width: 100%;
							&:nth-child(1) {
								margin-bottom: 21px;
							}
						}
					}
					.img {
						&.specs,
						&.disc {
							margin-top: 35px;
							img {
								height: auto;
								width: 100%;
							}
						}
						&.tol {
							display: none;
							&.visible-xs {
								margin-bottom: 21px;
								margin-top: 35px;
								img {
									display: block;
									height: auto;
									margin: 0 auto;
									width: 100%;
								}
							}
						}
					}
				}
			}
		}
	}

	footer {
		background: url("/img/landings/tolinchi/Rectangle.svg");
		background-position: top center;
		background-size: cover;
		.container {
			padding-top: 0;
			.row {
				.col-xs-12 {
					.powered {
						padding: 0 0 20px 0;
						margin: 0;
						&.modd {
							padding-top: 70px;
						}
						span {
							text-align: center;
						}
					}
				}
			}
		}
	}

	.modal-dialog {
		.modal-content {
			background-color: transparent;
			border: 0;
			box-shadow: none;
			.modal-body {
				.form {
					margin-top: 42px;
					width: 100%;
					.header {
						h2,
						h3 {
							text-align: center;
						}
						p {
							text-align: center;
						}
						&::after {
							left: 50%;
							transform: translateX(-50%) rotate(45deg);
						}
					}
					form {
						margin: 0 auto;
						width: 90%;
						.col1,
						.col2,
						.col3{
							flex-direction: column;
							margin-bottom: 0;
						}
						.col1,
						.col2 {
							.input-group {
								margin-bottom: 14px;
								width: 100%;
							}
						}
						.col3 {
							.input-group {
								flex-direction: column;
								select {
									margin-bottom: 14px;
									width: 100% !important;
								}
								.combodate {
									select {
										margin-bottom: 0;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 320px) {

}