$transition: .45s ease;

@media only screen 
and (min-device-width: 1024px) 
and (max-device-width: 1366px) 
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 1.5) {

}

@media screen and (max-width: 768px) {
	.c-nav {
		display: none;
	}
	header {
		top: 20px;
		.container {
			.row {
				.col-xs-12 {
					a {
						img {
							width: 150px;
						}
					}
				}
			}
		}
	}
	section {
		&#home {
			height: 640px;
			.container {
				.row {
					.col-xs-12 {
						height: initial;
						padding-top: 300px;
						h2 {
							font-size: 28px;
							line-height: 30px;
							max-width: 480px;
						}
						p {
							font-size: 14px;
							line-height: 21px;
						    margin: 0 0 21px 0;
							max-width: 440px;
						}
					}
				}
			}
		}
		&#vacations {
			.o-wrapper {
				max-width: 720px;
			}
			.c-section-vacation__video {
				height: 540px;
			}
		}
		&#data {
			.o-wrapper {
				max-width: 720px;
				.c-button {
					margin: 32px 0;
					position: relative;
				}
			}
			.c-categories {
				.o-wrapper {
					max-width: 720px;
					.c-section__title {
						font-size: 20px;
						margin-bottom: 0;
					}
					.c-section-vacation__body {
						em {
							font-size: 20px;
						}
					}
				}
				.panel-group {
	                .panel {
	                    .panel-heading {
	                    	padding: 20px 0 20px 15px;
	                        .panel-title {
	                            a {
	                                font-size: 18px;
	                            }
	                        }
	                    }
	                }
	            }
			}
		}
		&#inout {
			.o-wrapper {
				margin-top: 230px;
				max-width: 720px;
				padding: 25px 25px 0 25px;
				.c-section__title {
					width: 100%;
				}
			}
		}
		&#space {
			.c-section-the-science__apps {
            	.o-wrapper {
            		max-width: 720px;
            		.c-section-the-science__apps-body {
            			flex-direction: column;
            		}
            	}
        	}
		}
	}

	footer {
		.o-wrapper {
			max-width: 720px;
			padding: 0 25px;
		}
	}
}

@media screen and (max-width: 512px) {
	section {
		&#space {
			.c-section-the-science__apps {
            	.o-wrapper {
            		max-width: 100%;
            		.c-section-the-science__apps-body {
            			p {
            				width: 100%;
            			}
            		}
            	}
            }
        }
	}
}

@media screen and (max-width: 414px) {
	section {
		&#home {
		    background-image: url(/img/web/plb/hub-hero-mobile.jpg);
			height: initial;
			padding-bottom: 16px;
			.container {
				.row {
					.col-xs-12 {
						p {
							margin: 0;
						}
						a {
							margin: 32px 0;
							width: 100%;
						}
					}
				}
			}
		}
		&#vacations {
			.o-wrapper {
				max-width: 100%;
			}
			.c-section-vacation__video {
				height: 180px;
			}
		}
		&#data {
			.o-wrapper {
				max-width: 100%;
			}
			.c-categories {
				.o-wrapper {
					max-width: 720px;
					.c-section__title {
						font-size: 20px;
						margin-bottom: 0;
					}
					.c-section-vacation__body {
						em {
							font-size: 20px;
						}
					}
				}
				.panel-group {
	                .panel {
	                    .panel-collapse {
	                    	.panel-body {
	                    		.the_content {
	                    			flex-direction: column;
	                    			.img {
	                    				width: 100%;
	                    			}
	                    			.p {
	                    				padding: 0;
	                    				width: 100%;
	                    				h5 {
	                    					font-size: 28px;
	                    				}
	                    			}
	                    		}
	                    	}
	                    }
	                }
	            }
			}
		}
		&#inout {
			padding: 32px 0 0 0;
			.o-wrapper {
				margin-top: 120px;
				max-width: 100%;
				.c-section-letter__more {
					.c-section-letter__emphasized {
						span {
							&:nth-child(1) {
								font-size: 35px;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 320px)  {

}