@font-face {
    font-family: GothamThin;
    src: url('/fonts/gotham-thin.woff');
}

@font-face {
    font-family: GothamBook;
    src: url('/fonts/gotham-book.eot');
}

@font-face {
    font-family: GothamBook;
    src: url('/fonts/gotham-book.ttf');
}

@font-face {
    font-family: GothamMedium;
    src: url('/fonts/gotham-medium.eot');
}

@font-face {
    font-family: GothamMedium;
    src: url('/fonts/gotham-medium.ttf');
}

@font-face {
    font-family: GothamBold;
    src: url('/fonts/gotham-bold.eot');
}

@font-face {
    font-family: GothamBold;
    src: url('/fonts/gotham-bold.ttf');
}

$transition: 0.45s ease;

.c-nav {
    position: fixed;
    right: 3%;
    top: 200px;
    visibility: visible;
    z-index: 1010;
    ul {
        color: #FFF;
        list-style: none;
        text-transform: lowercase;
        li {
            cursor: pointer;
            height: 72px;
            padding: 0 12px;
            position: relative;
            a {
                color: #FFF;
                div {
                    border-right: 6px solid rgba(255, 255, 255, 0.5);
                    font-size: 16px;
                    font-family: GothamMedium;
                    font-weight: 500;
                    height: 67px;
                    margin-bottom: 5px;
                    overflow: hidden;
                    position: absolute;
                    text-align: right;
                    top: 0;
                    right: 0;
                    width: 10px;
                    transition: all 0.3s;
                    span {
                        display: inline-block;
                        opacity: 0.0;
                        padding: 0 12px 0 0;
                        position: relative;
                        text-shadow: 0 0 5px #000;
                        top: 22px;
                        transition: right 0.3s, opacity 0.1s, transform 0.3s;
                        right: -180px;
                        transform-origin: right;
                        transform: scale(1);
                    }
                }
            }
            &:hover,
            &.active {
                div {
                    border-right: 6px solid #02C9E3;
                    width: 285px;
                    span {
                        display: block;
                        opacity: 1;
                        right: 0;
                    }
                }
            }
            &:nth-child(1) {
                margin-top: 0;
                &:hover,
                &.active {
                    div {
                        border-right-color: #02C9E3;
                    }
                }
            }
            &:nth-child(2) {
                &:hover,
                &.active {
                    div {
                        border-right-color: #008EE1;
                    }
                }
            }
            &:nth-child(3) {
                &:hover,
                &.active {
                    div {
                        border-right-color: #FF408A;
                    }
                }
            }
            &:nth-child(4) {
                &:hover,
                &.active {
                    div {
                        border-right-color: #FF6A00;
                    }
                }
            }
            &:nth-child(5) {
                &:hover,
                &.active {
                    div {
                        border-right-color: #FFE700;
                    }
                }
            }
        }
        &.intro {
            li {
                div {
                    transition: all 0s;
                    width: 285px;
                }
                span {
                    opacity: 1.0;
                    display: block;
                    right: 0;
                }
            }
        }
        &.scrolled {
            li {
                &:hover {
                    div {
                        border-right: 6px solid #02C9E3;
                        width: 285px;
                        span {
                            display: block;
                            opacity: 1;
                            right: 0;
                        }
                    }
                }
                &.active {
                    div {
                        width: 10px;
                        span {
                            display: inline-block;
                            opacity: 0.0;
                            right: -180px;
                        }
                    }
                }
            }
        }
    }
}

header {
    position: absolute;
    top: 40px;
    width: 100%;
    z-index: 999;
    .container {
        .row {
            .col-xs-12 {
                align-items: center;
                display: flex;
                justify-content: space-between;
                a {
                    img {
                        height: auto;
                        width: 184px;
                    }
                }
                .back-wrapper {
                    background: rgba(0, 0, 0, 0.7);
                    padding: 7px;
                    a {
                        color: white;
                        font-family: GothamBold;
                        font-size: 16px;
                        span {
                            color: #46C8E1;
                        }
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    } 
}

section {
    &#home {
        background-image: url("/img/web/plb/hub-hero.jpg");
        background-size: cover;
        height: 800px;
        .container {
            height: 100%;
            .row {
                height: 100%;
                .col-xs-12 {
                    align-items: flex-start;
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    justify-content: center;
                    h2 {
                        color: #46C8E1;
                        font-family: GothamBold;
                        font-size: 48px;
                        line-height: 48px;
                        margin: 0 0 40px 0;
                        span {
                            color: white;
                        }
                    }
                    p {
                        color: white;
                        font-family: GothamBold;
                        font-size: 16px;
                        line-height: 24px;
                        margin: 0 0 40px 0;
                        span {
                            color: #46C8E1;
                        }
                    }
                    a {
                        align-items: center;
                        background-color: transparent;
                        border: 2px solid #ffffff;
                        color: white;
                        display: flex;
                        font-family: GothamBold;
                        font-size: 20px;
                        height: 64px;
                        justify-content: center;
                        width: 280px;
                        transition: $transition;
                        &:hover {
                            background-color: white;
                            color: #46C8E1;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
    &#vacations {
        background-image: url("/img/web/plb/categories-bg.jpg");
        background-size: cover;
        overflow: hidden;
        padding: 32px 0;
        .o-wrapper {
            max-width: 1140px;
            margin: 0 auto;
            padding: 0 25px;
            .c-section__title {
                font-family: GothamBold;
                font-size: 32px;
                position: relative;
                span {
                    color: #008EE1;
                }
                &::before {
                    background-color: #008EE1;
                    content: '';
                    height: 3px;
                    left: -105%;
                    position: absolute;
                    top: 1rem;
                    width: 100%;
                }
            }
            .c-section-vacation__body {
                max-width: 384px;
                p {
                    font-family: GothamBook;
                    font-size: 16px;
                    line-height: 24px;
                    margin: 16px 0;
                }
            }
        }
        .c-section-vacation__video {
            height: 720px;
            margin: 16px 0;
            .c-youtube {
                height: 100%;
                position: relative;
                width: 100%;
                .c-youtube__keyframe {
                    background-image: url("/img/web/plb/hub-video-still.jpg") !important;
                    background-position: center center;
                    background-size: cover;
                    cursor: pointer;
                    height: 100%;
                    opacity: 1;
                    position: absolute;
                    transform: scale(1);
                    width: 100%;
                    z-index: 2;
                    transition: $transition;
                    &.hideme {
                        opacity: 0;
                        transform: scale(0.9);
                        z-index: -2;
                    }
                }
                iframe {
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
    &#data {
        background-color: #22343E;
        overflow: hidden;
        padding: 32px 0 0 0;
        .o-wrapper {
            max-width: 1140px;
            margin: 0 auto;
            padding: 0 25px;
            position: relative;
            .c-section__title {
                color: white;
                font-family: GothamBold;
                font-size: 32px;
                position: relative;
                span {
                    color: #FF408A;
                }
                &::before {
                    background-color: #FF408A;
                    content: '';
                    height: 3px;
                    left: -105%;
                    position: absolute;
                    top: 1rem;
                    width: 100%;
                }
            }
            .c-section-the-data__body {
                color: white;
                padding-bottom: 16px;
                max-width: 512px;
                p {
                    font-family: GothamBook;
                    font-size: 16px;
                    line-height: 24px;
                    margin: 16px 0;
                }
            }
            .c-button {
                align-items: center;
                background-color: #FF408A;
                border: 2px solid #FF408A;
                color: #1d2d35;
                display: flex;
                font-family: GothamBold;
                font-size: 20px;
                height: 62px;
                justify-content: center;
                position: absolute;
                right: 0;
                top: 0;
                width: 288px;
                transition: $transition;
                &:hover {
                    background-color: #1d2d35;
                    color: #FF408A;
                    text-decoration: none;
                }
            }
        }
        .c-categories {
            background-image: url("/img/web/plb/categories-bg.jpg");
            background-size: cover;
            padding: 40px 0;
            .o-wrapper {
                max-width: 1140px;
                margin: 0 auto;
                padding: 0 25px;
                position: relative;
                .c-section__title {
                    color: black;
                }
                .c-section-vacation__body {
                    em {
                        font-family: GothamThin;
                        font-size: 32px;
                        font-style: normal;
                        font-weight: lighter;
                    }
                }
            }
            .panel-group {
                .panel {
                    border: 0;
                    box-shadow: none;
                    margin-top: 14px;
                    .panel-heading {
                        background-color: #293D47;
                        border: 2px solid;
                        border-radius: 0;
                        padding: 20px 0 20px 40px;
                        .panel-title {
                            a {
                                display: block;
                                font-size: 30px;
                                position: relative;
                                span {
                                    font-family: GothamBold;
                                    &:nth-child(1) {
                                        font-family: GothamBook;
                                    }
                                }
                                .accordion-toggle-icon {
                                    height: 100%;
                                    position: absolute;
                                    right: 20px;
                                    width: 22px;
                                    span {
                                        background-color: #ffffff;
                                        display: block;
                                        height: 2px;
                                        position: absolute;
                                        top: 50%;
                                        transition: translateY(-50%);
                                        width: 22px;
                                        transition: $transition;
                                        &:nth-child(1) {
                                            transform: rotate(-90deg);
                                        }
                                        &:nth-child(2) {}
                                    }
                                }
                                &.collapsed {
                                    .accordion-toggle-icon {
                                        span {
                                            &:nth-child(1) {
                                                transform: rotate(0deg);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .panel-collapse {
                        background-color: #293D47;
                        border: 2px solid;
                        border-top: 0;
                        .panel-body {
                            border-top: 0;
                            .the_content {
                                display: flex;
                                justify-content: space-between;
                                padding: 0 20px;
                                .img {
                                    padding-top: 40px;
                                    width: 40%;
                                    img {
                                        display: block;
                                        height: auto;
                                        margin: 0 auto;
                                        width: 80%;
                                    }
                                }
                                .p {
                                    padding: 40px;
                                    width: 60%;
                                    h5 {
                                        font-family: GothamBold;
                                        font-size: 38px;
                                    }
                                    p {
                                        color: #fff;
                                        font-family: GothamBook;
                                        font-size: 15px;
                                        font-weight: normal;
                                        line-height: 1.4;
                                    }
                                }
                            }
                        }
                    }
                    &:nth-child(1) {
                        .panel-heading {
                            border-color: #FF408A;
                            .panel-title {
                                a {
                                    span {
                                        color: #FF408A;
                                        &:nth-child(1) {
                                            color: white;
                                        }
                                    }
                                }
                            }
                        }
                        .panel-collapse {
                            border-color: #FF408A;
                            .panel-body {
                                .the_content {
                                    .p {
                                        h5 {
                                            color: #FF408A;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &:nth-child(2) {
                        .panel-heading {
                            border-color: #FF6A00;
                            .panel-title {
                                a {
                                    span {
                                        color: #FF6A00;
                                        &:nth-child(1) {
                                            color: white;
                                        }
                                    }
                                }
                            }
                        }
                        .panel-collapse {
                            border-color: #FF6A00;
                            .panel-body {
                                .the_content {
                                    .p {
                                        h5 {
                                            color: #FF6A00;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &:nth-child(3) {
                        .panel-heading {
                            border-color: #FFE700;
                            .panel-title {
                                a {
                                    span {
                                        color: #FFE700;
                                        &:nth-child(1) {
                                            color: white;
                                        }
                                    }
                                }
                            }
                        }
                        .panel-collapse {
                            border-color: #FFE700;
                            .panel-body {
                                .the_content {
                                    .p {
                                        h5 {
                                            color: #FFE700;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &:nth-child(4) {
                        .panel-heading {
                            border-color: #00C629;
                            .panel-title {
                                a {
                                    span {
                                        color: #00C629;
                                        &:nth-child(1) {
                                            color: white;
                                        }
                                    }
                                }
                            }
                        }
                        .panel-collapse {
                            border-color: #00C629;
                            .panel-body {
                                .the_content {
                                    .p {
                                        h5 {
                                            color: #00C629;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &:nth-child(5) {
                        .panel-heading {
                            border-color: #00C9E5;
                            .panel-title {
                                a {
                                    span {
                                        color: #00C9E5;
                                        &:nth-child(1) {
                                            color: white;
                                        }
                                    }
                                }
                            }
                        }
                        .panel-collapse {
                            border-color: #00C9E5;
                            .panel-body {
                                .the_content {
                                    .p {
                                        h5 {
                                            color: #00C9E5;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &#inout {
        background-color: #f4f4f4;
        background-image: url("/img/web/plb/hub-open-letter.jpg");
        background-repeat: no-repeat;
        background-size: calc(100%) auto;
        box-shadow: 0 0 7px -5px #000;
        padding: 32px 0;
        .o-wrapper {
            background-color: #ffffff;
            max-width: 1140px;
            margin: 412px auto 0 auto;
            padding: 56px 192px;
            .c-section__title {
                font-family: GothamMedium;
                font-size: 32px;
                line-height: 40px;
                margin-bottom: 32px;
                width: 576px;
                span {
                    color: #FF6A00;
                    display: block;
                }
            }
            p {
                color: #1d2d35;
                font-family: GothamBook;
                font-size: 16px;
                line-height: 24px;
                margin: 16px 0;
                span {
                    color: #FF6A00;
                }
                &.c-section-letter__show-more {
                    a {
                        color: #FF6A00;
                        cursor: pointer;
                        display: inline-block;
                        font-family: GothamThin;
                        line-height: 1;
                        text-transform: lowercase;
                        span {
                            display: inline-block;
                            font-family: GothamBook;
                        }
                        &:hover {
                            text-decoration: none;
                        }
                        &::before {
                            content: '+';
                            font-size: 63px;
                            margin-right: 1rem;
                            padding-top: 8px;
                            vertical-align: middle;
                        }
                    }
                    &.hideme {
                        display: none;
                    }
                }
                &.c-section-letter__show-less {
                    a {
                        color: #FF6A00;
                        cursor: pointer;
                        display: inline-block;
                        font-family: GothamThin;
                        line-height: 1;
                        text-transform: lowercase;
                        span {
                            display: inline-block;
                            font-family: GothamBook;
                        }
                        &:hover {
                            text-decoration: none;
                        }
                        &::before {
                            content: '-';
                            font-size: 63px;
                            margin-right: 1rem;
                            padding-top: 8px;
                            vertical-align: middle;
                        }
                    }
                }
            }
            .c-section-letter__more {
                max-height: initial;
                overflow: hidden;
                transition: $transition;
                &.hideme {
                    max-height: 0;
                }
                .c-section-letter__emphasized {
                    align-items: center;
                    border: 1px solid black;
                    border-left: none;
                    border-right: none;
                    display: flex;
                    justify-content: space-between;
                    margin: 16px 0;
                    span {
                        color: #1d2d35;
                        width: 75%;
                        &:nth-child(1) {
                            color: #ff6a00;
                            font-family: GothamBold;
                            font-size: 80px;
                            line-height: 120px;
                            width: 25%;
                        }
                    }
                }
            }
            img {
                height: auto;
                width: 170px;
            }
        }
    }
    &#space {
        background-color: #22343E;
        padding: 32px 0;
        .c-section-the-science__apps {
            .o-wrapper {
                max-width: 1140px;
                margin: 0 auto;
                padding: 0 25px;
                position: relative;
                .c-section__title {
                    color: white;
                    font-family: GothamMedium;
                    font-size: 32px;
                    strong {
                        color: #008EE1;
                    }
                }
                .c-section-the-science__apps-body {
                    align-items: flex-start;
                    display: flex;
                    justify-content: flex-start;
                    p {
                        color: #ffffff;
                        font-family: GothamBook;
                        font-size: 16px;
                        line-height: 24px;
                        margin: 16px 0;
                        width: 512px;
                        a {
                            color: white;
                            display: initial;
                            text-decoration: underline;
                            width: initial;
                            &:hover {
                                text-decoration: none;
                            }
                        }
                    }
                    a {
                        color: pointer;
                        display: inline-block;
                        width: 248px;
                        img {
                            height: auto;
                            margin-left: 49px;
                            width: 200px;
                        }
                    }
                }
            }
        }
    }
}

footer {
    background-color: #222C30;
    padding: 25px 0 40px 0;
    .o-wrapper {
        max-width: 1140px;
        margin: 0 auto;
        padding: 0 25px;
        .img {
            img {
                height: auto;
                margin: 5px 0 15px 0;
                width: 150px;
            }
        }
        .copyright-block {
            p {
                color: #C8C0B6;
                font-family: GothamMedium;
                margin: 16px 0;
            }
        }
    }
}

