$transition: .45s ease;

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {

}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {

}

@media screen and (max-width: 768px) {
  header {
    .container {
      .row {
        .col-xs-12 {
          .logo,
          nav {
            align-items: center;
            display: flex;
            height: 60px;
            justify-content: center;
            margin: 0;
            img {
              display: block;
              margin: 0 auto 0 auto;
            }
          }
        }
      }
    }
  }
  body {
    .wrapper {
      min-height: initial;
      .container {
        .row {
          .phoneimage {
            display: none !important;
          }
          .land_logo {
            margin-top: 21px;
            p {
              font-size: 42px;
              line-height: 42px;
              margin-bottom: 0;
              text-align: center;
            }
            span {
              display: block;
              font-size: 42px;
              line-height: 42px;
              text-align: center;
              margin-bottom: 35px;
            }
            .phoneimage_resp {
              display: block !important;
              margin-bottom: 49px;
              visibility: visible;
              img {
                display: block;
                margin: 0 auto;
                width: 50%;
              }
            }
          }
          .content {
            width: 100%;
            p {
              text-align: center;
            }
          }
          .countdown {
            display: flex;
            justify-content: space-between;
            width: 100%;
            .item {
              align-items: center;
              display: flex;
              flex-direction: column;
              margin: 0;
              width: 22%;
              .circle {
                margin-bottom: 7px;
              }
            }
          }
          .form {
            .form-group {
              input {
                text-align: center;
                margin: 0;
              }
              .error{
                position: relative;
                top: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 414px) {
  body {
    .wrapper {
      min-height: initial;
      .container {
        .row {
          .phoneimage {
            display: none !important;
          }
          .land_logo {
            .phoneimage_resp {
              img {
                width: 80%;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  body {
    .wrapper {
      min-height: initial;
      .container {
        .row {
          .countdown {
            flex-wrap: wrap;
            .item {
              align-items: center;
              margin-bottom: 21px;
              width: 50%;
              .circle {
                margin-bottom: 7px;
              }
            }
          }
          .content {
            margin-top: 21px;
          }
        }
      }
    }
  }
  footer {
    .container {
      .row {
        .col-xs-12 {
          span {
            text-align: center;
          }
        }
      }
    }
  }
}