@font-face {
	font-family: GothamBook;
	src: url('/fonts/gotham-book.eot') /* EOT file for IE */
}
@font-face {
	font-family: GothamBook;
	src: url('/fonts/gotham-book.ttf') /* TTF file for CSS3 browsers */
}
@font-face {
	font-family: GothamBold;
	src: url('/fonts/gotham-bold.eot') /* EOT file for IE */
}
@font-face {
	font-family: GothamBold;
	src: url('/fonts/gotham-bold.ttf') /* TTF file for CSS3 browsers */
}
@font-face {
	font-family: GothamThin;
	src: url('/fonts/gotham-thin.eot') /* EOT file for IE */
}
@font-face {
	font-family: GothamThin;
	src: url('/fonts/gotham-thin.ttf') /* TTF file for CSS3 browsers */
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 113px;
  }
}

header {
	.container {
		.row {
			.col-xs-12 {
				.logo {
					img {
						margin-top: 25px;
						width: 180px;
					}
				}
				nav {
					margin-top: 12px;
					align-items: center;
					display: flex;
					justify-content: flex-end;
					a {
                        color: #386700;
						align-items: center;
						background-color: white;
						border-radius: 50%;
						display: flex;
						height: 30px;
						justify-content: center;
						margin: 0 7px;
						width: 30px;
						i {
							font-size: 20px;
						}
					}
				}
			}
		}
	}
}

body{
	background: #6ac820 url("/img/landings/intriga/bk_moto.jpg");
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: GothamBook;
	.wrapper {
		min-height: calc(100vh - 180px);
		.container {
			.row {
				.phoneimage {
					margin-top: 55px;
					text-align: center;
					img{
						width: 100%;
					}
				}
				.land_logo {
					margin-top:55px;
					p {
						margin-bottom: -40px;
						font-family: GothamBold;
						color: #fff;
						font-size: 40px;
					}
					span {
						font-family: GothamBold;
						color: #ff2200;
						font-size: 90px;
						sup{
							top: -15px;
						}
					}
					.phoneimage_resp {
						display: none !important;
						visibility: hidden ;
						img {
						}
					}
				}
				.countdown {
					.item {
					    display: inline-grid;
						width: 80px;
					    margin: 0 8px;
					}
					.text {
						font-family: GothamThin;
						font-size: 16px;
						font-weight: 100;
						line-height: 17px;
					    color: #fff;
						margin: 0 auto;
					}
					.circle {
						font-family: GothamBold;
					    display: inline-block;
						border: 3px solid #fff;
						width: 80px;
						height: 80px;
						line-height: 77px;
						text-align: center;
						font-size: 32px;
					    border-radius: 50%;
					    color: #fff;
					}
				}
				.content {
					width: 500px;
					margin-top: 45px;
					p {
						font-family: GothamThin;
						font-size: 22px;
						color: #fff;
						span{
							font-family: GothamBook;
							font-weight: bold;
						}
					}
					p.message{
						display: none;
						span{
							font-weight: bold;
						}
					}

				}
				.form {
					margin-top: 30px;
					.form-group{
						input {
							font-family: GothamBook;
							height: 40px;
							padding: 0 10px;
							border-radius: 0;
							margin: 20px 0 0 0;
						}
					}
					button.sendit {
						font-family: GothamBook;
						background-color: #ff2200;
						outline: none;
						height: 35px;
						font-size: 20px;
						color: #fff;
						padding: 0;
						border-radius: 0;
					}
					.error{
						color: #ff2200;
						position: absolute;
						top: -20px;
					}
				}
			}
		}
	}
}

footer {
	.container {
		.row {
			.col-xs-12 {
				span {
					align-items: center;
					color: white;
					display: flex;
					height: 60px;
				}
				.tyc {
					text-align: center;
					a {
						color: white;
						text-decoration: underline;
					}
				}
				.powered {
					align-items: center;
					display: flex;
					height: 60px;
					justify-content: center;
					span {
						display: inline-block;
						height: initial;
						&:nth-child(2) {
							margin-left: 7px;
						}
						img {
							height: 10px;
							width: 58px;
						}
					}
					&.mod {
						color: white;
						a {
							color: white;
							font-size: 14px;
							line-height: 14px;
							&:nth-child(1) {
								//border-right: 1px solid #ffffff;
								margin-right: 7px;
								padding-right: 7px;
							}
						}
					}
				}
			}
		}
	}
}