$transition: .45s ease;

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
	body {
		background-repeat: no-repeat;
		background-size: cover;
	}
	.wrapper {
		min-height: calc(100vh - 60px - 68px);
		.container {
			height: calc(1212px - 70px);
			.row {
				.col-xs-12 {
					.content {
						top: -15%;
					}
				}
			}
		}
	}

	footer {
		.container {
			.row {
				display: flex;
				flex-direction: column;
				justify-content: center;
				.col-xs-12 {
					width: 100%;
					span {
						height: 40px;
						justify-content: center;
					}
					.powered {
						flex-direction: column;
						height: auto;
						justify-content: center;
						padding: 14px 0;
						span {
							height: auto;
						}
					}
				}
			}
		}
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) { 

}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) { 

}

@media screen and (max-width: 1920px) {
	.wrapper {
		height: calc(100vh - 60px - 60px);
	}
}

@media screen and (max-width: 1800px) {
	.wrapper {
		height: initial;
	}
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 900px) {

}

@media screen and (max-width: 768px) {
	body {
		background-size: cover;
		background-repeat: no-repeat;
		height: auto;
		min-height: 100vh;
		&.notlogged {
			.wrapper {
				min-height: calc(100vh - 60px - 80px);
			}
		}
		&.home {
			.wrapper {
				.container {
					.row {
						.col-xs-12 {
							height: 100%;
						}
					}
				}
			}
		}
	}

	.wrapper {
		.container {
			.row {
				.col-xs-12 {
					height: auto;
					.content {
						margin: 21px auto 0 auto;
					}
				}
			}
		}
	}

	footer {
		.container {
			.row {
				.col-xs-12 {
					span {
						height: 40px;
						justify-content: center;
					}
					.powered {
						flex-direction: column;
						height: auto;
						justify-content: center;
						padding: 14px 0;
						span {
							height: auto;
						}
					}
				}
			}
		}
	}


	.show-desk {
		display: none;
	}

	.show-res {
		display: block;
	}
}

@media screen and (max-width: 414px) {
	body {
		background: #435059;
		height: auto;
		&.notlogged {
			.wrapper {
				height: auto;
				min-height: calc(100vh - 120px - 104px);
			}
		}
		&.home {
			.wrapper {
				.container {
					.row {
						.col-xs-12 {
							height: auto;
						}
					}
				}
			}
		}
	}
	header {
		.container {
			.row {
				.col-xs-12 {
					.logo {
						justify-content: center;
					}
					nav {
						justify-content: center;
					}
				}
			}
		}
	}
	.wrapper {
		.container {
			.row {
				.login {
					align-items: center;
					background-color: #03C8E3;
					border: 2px solid #03C8E3;
					border-radius: 2px;
					color: white;
					display: flex;
					font-size: 14px;
					height: 34px;
					justify-content: center;
					left: 50%;
					position: absolute;
					right: initial;
					text-decoration: none;
					text-transform: uppercase;
					transform: translateX(-50%);
					top: -14px;
					width: 140px;
					transition: $transition;
					&:hover {
						background-color: transparent;
						color: #03C8E3;
					}
				}
				.col-xs-12 {
					.form {
						margin-top: 42px;
						width: 90%;
						.header {
							h2,
							h3 {
								text-align: center;
							}
							p {
								text-align: center;
							}
							&::after {
								left: 50%;
								transform: translateX(-50%) rotate(45deg);
							}
						}
						form {
							margin: 0 auto;
							width: 90%;
							.col1,
							.col2,
							.col3{
								flex-direction: column;
								margin-bottom: 0;
							}
							.col1,
							.col2 {
								.input-field {
									margin-bottom: 14px;
									width: 100%;
								}
							}
							.col3 {
								.input-field {
									flex-direction: column;
									select {
										margin-bottom: 14px;
										width: 100% !important;
									}
									.combodate {
										select {
											margin-bottom: 0;
										}
									}
								}
							}
						}
					}
					.content {
						width: 90%;
						h2,
						h3 {
							text-align: center;
						}
						.log_hm {
							display: flex;
							justify-content: center;
						}
					}
				}
			}
		}
	}
	footer {
		.container {
			.row {
				.col-xs-12 {
					span {
						height: 50px;
						text-align: center;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 360px) {

}

@media screen and (max-width: 320px) {
	.wrapper {
		.container {
			.row {
				.col-xs-12 {
					.form {
						form {
							.col1,
							.col2 {
								.input-field {
									em {
										display: block;
										margin-bottom: 7px;
										margin-right: 0;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}