@font-face {
	font-family: GothamBook;
	src: url('/fonts/gotham-book.eot') /* EOT file for IE */
}
@font-face {
	font-family: GothamBook;
	src: url('/fonts/gotham-book.ttf') /* TTF file for CSS3 browsers */
}
@font-face {
	font-family: GothamBold;
	src: url('/fonts/gotham-bold.eot') /* EOT file for IE */
}
@font-face {
	font-family: GothamBold;
	src: url('/fonts/gotham-bold.ttf') /* TTF file for CSS3 browsers */
}

$transition: .45s ease;

body {
	background-color: #000;
}

a,
a:hover,
a:focus {
  color: inherit;
  outline: 0;
  text-decoration: none;
}

input,
input:hover,
input:active,
input:focus {
  box-shadow: none !important;
  outline: 0;
}

textarea {
	height: 93px !important;
	resize: none;
}

select,
select:focus {
  outline: 0;
}

body{
	background: url("/img/landings/unete/bkg.jpg");
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: GothamBook;
	&.notlogged {
		.wrapper {
			height: calc(100vh - 120px);
		}
	}
}

header {
	.container {
		.row {
			.col-xs-12 {
				.logo {
					align-items: center;
					display: flex;
					height: 60px;
					justify-content: flex-start;
					h1 {
						margin: 0;
						padding: 0;
						a {
							background: url("/img/landings/unete/logo.svg");
							display: inline-block;
							height: 40px;
							text-indent: -9999px;
							width: 173px;
						}
					}
				}
				nav {
					align-items: center;
					display: flex;
					height: 60px;
					justify-content: flex-end;
					a {
						align-items: center;
						background-color: #000000;
						border: 2px solid #000000;
						border-radius: 50%;
						display: flex;
						height: 32px;
						justify-content: center;
						margin-left: 14px;
						width: 32px;
						transition: $transition;
						i {
							color: white;
							font-size: 20px;
						}
						&:hover {
							background-color: transparent;
							i {
								color: #000000;
							}
						}
						&:nth-child(1) {
							margin-right: 0;
						}
					}
				}
			}
		}
	}
}

.wrapper {
	padding: 35px 0;
	.container {
		height: 100%;
		.row {
			height: 100%;
			position: relative;
			.login {
				align-items: center;
				background-color: #03C8E3;
				border: 2px solid #03C8E3;
				border-radius: 2px;
				color: white;
				display: flex;
				font-size: 14px;
				height: 34px;
				justify-content: center;
				position: absolute;
				right: 0;
				text-decoration: none;
				text-transform: uppercase;
				top: -14px;
				width: 140px;
				transition: $transition;
				z-index: 9999;
				&:hover {
					background-color: transparent;
					color: #03C8E3;
				}
			}
			.col-xs-12 {
				align-items: center;
				display: flex;
				height: 100%;
				.form {
					background-color: #ffffff;
					border-radius: 8px;
					margin: 0 auto;
					width: 370px;
					.header {
						background-color: #7ED321;
						border-radius: 8px 8px 0 0;
						padding: 14px;
						position: relative;
						&::after {
							background: #7ED321;
							bottom: -7px;
							content: "";
							display: block;
							height: 27px;
							left: 21px;
							position: absolute;
							transform: rotate(45deg);
							width: 27px;
						}
						h2 {
							color: white;
							font-size: 18px;
							margin: 0 0 7px 0;
							padding: 0;
							position: relative;
							z-index: 9;
						}
						h3 {
							color: white;
							font-size: 14px;
							margin: 0;
							position: relative;
							z-index: 9;
						}
					}
					form {
						margin: 0 auto;
						padding: 21px 0 0 0;
						width: 338px;
						.col1 {
							.input-field {
								width: 100%;
								label {
									&.flexme {
										display: flex;
										input {
											margin-top: 2px;
										}
									}
									input {
										margin-left: 4px;
										margin-right: 0;
									}
								}
							}
						}
						.col2 {
							.input-field {
								width: 48%;
							}
						}
						.col3 {
							.input-field {
								select {
									width: 30%;
								}
							}
						}
						.col1,
						.col2 {
							align-items: flex-start;
							display: flex;
							justify-content: space-between;
							margin-bottom: 21px;
							.input-field {
								span {
									display: block;
									margin-bottom: 7px;
								}
								em {
									font-style: normal;
									margin-right: 28px;
								}
								input {
									background-color: transparent;
									border-radius: 2px;
									border: 1px solid #979797;
									font-size: 12px;
									height: 32px;
									padding: 6px 14px;
									width: 100%;
								}
								label {
									font-size: 12px;
									font-weight: normal;
									margin-bottom: 0;
									&:nth-child(2) {
										margin-right: 14px;
									}
									input {
										height: initial;
										margin-right: 7px;
										margin-top: 0;
										width: initial;
									}
									span {
										display: inline-block;
										margin-bottom: 0;
									}
								}
								select {
									background-color: transparent;
									border-radius: 2px;
									border: 1px solid #979797;
									height: 32px;
									font-size: 12px;
									padding: 6px 14px;
									width: 100%;
								}
								.acciones {
									margin: 0 auto;
									width: 160px;
									a,
									button {
										color: #4A4A4A;
										display: block;
										font-size: 10px;
										text-align: center;
										text-decoration: underline;
										width: 100%;
										&.btn {
											align-items: center;
											background-color: #03C8E3;
											border: 2px solid #03C8E3;
											border-radius: 2px;
											color: white;
											display: flex;
											font-size: 14px;
											height: 34px;
											justify-content: center;
											margin-bottom: 14px;
											text-decoration: none;
											text-transform: uppercase;
											transition: $transition;
											&:hover {
												background-color: transparent;
												color: #03C8E3;
											}
										}
									}
									label {
										align-items: center;
										display: flex;
										justify-content: flex-start;
										margin-bottom: 21px;
										input {
											margin-left: 14px;
										}
										.tc {
											a {

											}
										}
									}
								}
							}
						}
						.col3 {
							margin-bottom: 21px;
							span {
								display: block;
								margin-bottom: 7px;
							}
							.input-field {
								align-items: flex-start;
								display: flex;
								justify-content: space-between;
								input {
									background-color: transparent;
									border-radius: 2px;
									border: 1px solid #979797;
									font-size: 12px;
									height: 32px;
									padding: 6px 14px;
								}
								select {
									background-color: transparent;
									border-radius: 2px;
									border: 1px solid #979797;
									height: 32px;
									font-size: 12px;
									padding: 6px 14px;
								}
							}
						}
					}
				}
				.content {
					margin-top: 50%;
					position: relative;
					top: -20%;
					h2 {
						color: white;
						font-size: 24px;
						font-weight: normal;
						margin-bottom: 14px;
					}
					h3 {
						color: white;
						font-size: 21px;
						img {
							margin-right: 7px;
						}
					}
					.log_hm {
						a {
							display: inline-block;
							img {
								height: auto;
								width: 210px;
							}
						}
					}
				}
				.unete {
					align-items: center;
					display: flex;
					flex-direction: column;
					padding: 35px 0 21px 0;
					strong {
						font-family: GothamBold;
						font-size: 18px;
						margin-bottom: 21px;
						text-align: center;
					}
					a {
						align-items: center;
						background-color: #03C8E3;
						border: 2px solid #03C8E3;
						border-radius: 2px;
						color: white;
						display: flex;
						font-size: 14px;
						height: 34px;
						justify-content: center;
						margin: 0 auto 14px auto;
						text-decoration: none;
						text-transform: uppercase;
						width: 140px;
						transition: $transition;
						&:hover {
							background-color: transparent;
							color: #03C8E3;
						}
					}
				}
				.tyc {
					background-color: #ffffff;
					border-radius: 8px;
					color: #4A4A4A;
					padding: 21px;
					h4 {
						font-size: 20px;
					}
					strong {
						display: inline-block;
						font-size: 20px;
						margin-bottom: 4px;
					}
					p {
						font-size: 14px;
						line-height: 21px;
					}
				}
			}
		}
	}
}

footer {
	background-color: #000000;
	.container {
		.row {
			.col-xs-12 {
				span {
					align-items: center;
					color: white;
					display: flex;
					height: 60px;
				}
				.powered {
					align-items: center;
					display: flex;
					height: 60px;
					justify-content: center;
					span {
						display: inline-block;
						height: initial;
						&:nth-child(2) {
							margin-left: 7px;
						}
						img {
							height: 10px;
							width: 58px;
						}
					}
				}
			}
		}
	}
}

.show-desk {
	display: block;
}

.show-res {
	display: none;
}

.combodate{
	width: 100%;
}