.popover {
    background-color: #ff0000 !important;;
    color: #fff;
}

.popover.top > .arrow:after,
.popover.bottom > .arrow:after,
.popover.right > .arrow:after,
.popover.left > .arrow:after {
    border-top-color: #ff0000 !important;
    border-bottom-color: #ff0000 !important;
}